<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="com.hundsun.ares.studio.core.aresResource">
      <!--
      <aresResource
            category="com.hundsun.ares.studio.jres.database.trigger.ui.resCategory"
            converter="com.hundsun.ares.studio.jres.database.resources.DBModelConverter"
            deleteable="true"
            icon="icons/sample.gif"
            id="jres_otrigger"
            info-class="com.hundsun.ares.studio.jres.model.database.oracle.impl.TriggerResourceDataImpl"
            moveable="true"
            name="触发器"
            order="800">
      </aresResource>
      <resCategory
            id="com.hundsun.ares.studio.jres.database.trigger.ui.resCategory"
            name="触发器"
            order="800">
      </resCategory>
      -->
      <aresResource
            category="com.hundsun.ares.studio.jres.database.sequence.ui.resCategory"
            converter="com.hundsun.ares.studio.jres.database.resources.DBModelConverter"
            deleteable="true"
            icon="icons/sequence.gif"
            id="jres_osequence"
            info-class="com.hundsun.ares.studio.jres.model.database.oracle.impl.SequenceResourceDataImpl"
            moveable="true"
            name="数据库序列"
            order="800">
      </aresResource>
      <resCategory
            id="com.hundsun.ares.studio.jres.database.sequence.ui.resCategory"
            name="数据库序列"
            order="800">
      </resCategory>
      <aresResource
            converter="com.hundsun.ares.studio.jres.database.resources.DBModelConverter"
            copyable="false"
            deleteable="false"
            filename="dbuser.dbuser"
            icon="icons/database_user.png"
            id="dbuser"
            info-class="com.hundsun.ares.studio.jres.model.database.oracle.impl.OracleUserResourceDataImpl"
            moveable="false"
            name="Oracle用户权限"
            order="800"
            renameable="false">
      </aresResource>
      <aresResource
            converter="com.hundsun.ares.studio.jres.database.resources.DBModelConverter"
            copyable="false"
            deleteable="false"
            filename="dbobject.dbobject"
            icon="icons/oracle_tablespace.png"
            id="dbobject"
            info-class="com.hundsun.ares.studio.jres.model.database.oracle.impl.OracleSpaceResourceDataImpl"
            moveable="false"
            name="Oracle表空间"
            renameable="false">
      </aresResource>
   </extension>
   
      <extension
         point="com.hundsun.ares.studio.core.rootToResTypeMaps">
     <!--
      <map
            resTypes="jres_otrigger"
            rootType="com.hundsun.ares.studio.jres.moduleroot.database">
      </map>
      -->
      <map
            resTypes="jres_osequence"
            rootType="com.hundsun.ares.studio.jres.moduleroot.database">
      </map>
      <map
            resTypes="jres_osequence"
            rootType="com.hundsun.ares.studio.jres.database">
      </map>
   </extension>
      <extension
         point="com.hundsun.ares.studio.core.resValidator">
      <validator
            class="com.hundsun.ares.studio.jres.database.resource.validator.DatabaseResValidator"
            id="com.hundsun.ares.studio.jres.database.core.resvalidator"
            resTypes="jres_osequence,dbuser,dbobject"/>
   </extension>
      <extension
            point="com.hundsun.ares.studio.reference.ReferenceInfoProviders">
         <ReferenceInfoProvider
               class="com.hundsun.ares.studio.jres.database.oracle.resources.internal.OracleReferenceInfoProvider"
               id="database.oracle"
               type="jres_osequence,dbobject,dbuser">
         </ReferenceInfoProvider>
      </extension>
      <extension
            point="com.hundsun.ares.studio.reference.RelationInfoProviders">
         <RelationInfoProvider
               class="com.hundsun.ares.studio.jres.database.oracle.resources.internal.OracleRelationInfoProvider"
               id="database.oracle"
               type="jres_osequence,dbobject,dbuser">
         </RelationInfoProvider>
      </extension>
      <extension
            point="com.hundsun.ares.studio.reference.ReferenceTypes">
        <!--
         <ReferenceType
               id="jres.db.oracle.trigger"
               resType="jres_otrigger">
         </ReferenceType>
         -->
         <ReferenceType
               id="jres.db.oracle.sequence"
               resType="jres_osequence">
         </ReferenceType>
         <ReferenceType
               id="jres.db.oracle.space"
               resType="dbobject">
         </ReferenceType>
         <ReferenceType
               id="jres.db.oracle.space_relation"
               resType="dbobject">
         </ReferenceType>
         <ReferenceType
               id="jres.db.oracle.user"
               resType="dbuser">
         </ReferenceType>
      </extension>
</plugin>
