<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.hundsun.ares.studio.engin.skeletonfactory">
      <SkeletonFactory
            class="com.hundsun.ares.studio.atom.compiler.skeleton.FunctionSkeletonFactory"
            id="com.hundsun.ares.studio.atom.compiler.SkeletonFactory.atom.function"
            type="atom.function">
      </SkeletonFactory>
      <SkeletonFactory
            class="com.hundsun.ares.studio.atom.compiler.skeleton.ServiceSkeletonFactory"
            id="com.hundsun.ares.studio.atom.compiler.SkeletonFactory.atom.service"
            type="atom.service">
      </SkeletonFactory>
   </extension>

</plugin>
