<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.hundsun.ares.studio.reference.ReferenceInfoProviders">
      <ReferenceInfoProvider
            class="com.hundsun.ares.studio.atom.resources.provider.AtomReferenceInfoProvider"
            id="atomresource"
            type="atomservice,atomfunction">
      </ReferenceInfoProvider>
   </extension>
   <extension
         point="com.hundsun.ares.studio.core.moduleRoot">
      <root
            deletable="true"
            id="com.hundsun.ares.studio.atom.resources.atomroot"
            name="原子逻辑"
            order="800"
            renameable="false"
            useDefaultModule="false"
            useProperty="false">
      </root>
   </extension>
   <extension
         point="com.hundsun.ares.studio.core.aresResource">
      <aresResource
            category="com.hundsun.ares.studio.atom.resources.category.as"
            converter="com.hundsun.ares.studio.jres.modelconvert.EMFModelConverter"
            copyable="true"
            deleteable="true"
            icon="icons/service.gif"
            id="atomservice"
            info-class="com.hundsun.ares.studio.atom.impl.AtomServiceImpl"
            moveable="true"
            name="原子服务"
            order="100"
            renameable="true">
      </aresResource>
      <aresResource
            category="com.hundsun.ares.studio.atom.resources.category.af"
            converter="com.hundsun.ares.studio.jres.modelconvert.EMFModelConverter"
            copyable="true"
            deleteable="true"
            icon="icons/function.gif"
            id="atomfunction"
            info-class="com.hundsun.ares.studio.atom.impl.AtomFunctionImpl"
            moveable="true"
            name="原子函数"
            order="200"
            renameable="true">
      </aresResource>
      <resCategory
            id="com.hundsun.ares.studio.atom.resources.category.as"
            name="原子服务"
            order="100">
      </resCategory>
      <resCategory
            id="com.hundsun.ares.studio.atom.resources.category.af"
            name="原子函数"
            order="200">
      </resCategory>
   </extension>
   <extension
         point="com.hundsun.ares.studio.core.rootToResTypeMaps">
      <map
            resTypes="atomfunction,atomservice,procedure"
            rootType="com.hundsun.ares.studio.atom.resources.atomroot">
      </map>
   </extension>
   <extension
         point="com.hundsun.ares.studio.reference.ReferenceTypes">
      <ReferenceType
            id="atomfunction"
            resType="atomfunction">
      </ReferenceType>
      <ReferenceType
            id="atomservice"
            resType="atomservice">
      </ReferenceType>
      <ReferenceType
            id="atomservice.cname"
            resType="atomservice">
      </ReferenceType>
      <ReferenceType
            id="atomfunction.cname"
            resType="atomfunction">
      </ReferenceType>
   </extension>
   <extension
         point="com.hundsun.ares.studio.reference.RelationInfoProviders">
      <RelationInfoProvider
            class="com.hundsun.ares.studio.atom.resources.AtomRelationInfoProvider"
            id="atom"
            type="atomfunction,atomservice">
      </RelationInfoProvider>
   </extension>

</plugin>
