<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.hundsun.ares.studio.core.aresResource">
         <aresResource
            converter="com.hundsun.ares.studio.jres.modelconvert.EMFModelConverter"
            copyable="false"
            deleteable="false"
            filename="defaultvalue.defaultvalue"
            icon="icons/full/obj16/defaultValueFile.png"
            id="defaultvalue"
            info-class="com.hundsun.ares.studio.jres.model.metadata.impl.TypeDefaultValueListImpl"
            moveable="false"
            name="默认值"
            order="701"
            renameable="false">
      </aresResource>
      <aresResource
            converter="com.hundsun.ares.studio.jres.modelconvert.EMFModelConverter"
            copyable="false"
            deleteable="false"
            filename="defaulttype.defaulttype"
            icon="icons/full/obj16/stdTypeFile.png"
            id="defaulttype"
            info-class="com.hundsun.ares.studio.jres.model.metadata.impl.StandardDataTypeListImpl"
            moveable="false"
            name="标准数据类型"
            order="700"
            renameable="false">
      </aresResource>
      <aresResource
            converter="com.hundsun.ares.studio.jres.modelconvert.EMFModelConverter"
            copyable="false"
            deleteable="false"
            filename="datatype.datatype"
            icon="icons/full/obj16/bizTypeFile.png"
            id="datatype"
            info-class="com.hundsun.ares.studio.jres.model.metadata.impl.BusinessDataTypeListImpl"
            moveable="false"
            name="业务数据类型"
            order="200"
            renameable="false">
      </aresResource>
      <aresResource
            converter="com.hundsun.ares.studio.jres.modelconvert.EMFModelConverter"
            copyable="false"
            deleteable="false"
            filename="stdfield.stdfield"
            icon="icons/full/obj16/stdFieldFile.png"
            id="stdfield"
            info-class="com.hundsun.ares.studio.jres.model.metadata.impl.StandardFieldListImpl"
            moveable="false"
            name="标准字段"
            order="100"
            renameable="false">
      </aresResource>
      <aresResource
            converter="com.hundsun.ares.studio.jres.modelconvert.EMFModelConverter"
            copyable="false"
            deleteable="false"
            filename="dict.dict"
            icon="icons/full/obj16/dictFile.png"
            id="dict"
            info-class="com.hundsun.ares.studio.jres.model.metadata.impl.DictionaryListImpl"
            moveable="false"
            name="数据字典"
            order="300"
            renameable="false">
      </aresResource>
      <aresResource
            converter="com.hundsun.ares.studio.jres.modelconvert.EMFModelConverter"
            copyable="false"
            deleteable="false"
            filename="constant.constant"
            icon="icons/full/obj16/cnstFile.png"
            id="constant"
            info-class="com.hundsun.ares.studio.jres.model.metadata.impl.ConstantListImpl"
            moveable="false"
            name="用户常量"
            order="600"
            renameable="false">
      </aresResource>
      <aresResource
            converter="com.hundsun.ares.studio.jres.modelconvert.EMFModelConverter"
            copyable="false"
            deleteable="false"
            filename="errorno.errorno"
            icon="icons/full/obj16/errornoFile.png"
            id="errorno"
            info-class="com.hundsun.ares.studio.jres.model.metadata.impl.ErrorNoListImpl"
            moveable="false"
            name="标准错误号"
            order="500"
            renameable="false">
      </aresResource>
      <aresResource
            converter="com.hundsun.ares.studio.jres.modelconvert.EMFModelConverter"
            copyable="false"
            deleteable="false"
            filename="menu.menu"
            icon="icons/full/obj16/menu.gif"
            id="menu"
            info-class="com.hundsun.ares.studio.jres.model.metadata.impl.MenuListImpl"
            moveable="false"
            name="菜单与功能"
            order="400"
            renameable="false">
      </aresResource>
      <aresResource
            converter="com.hundsun.ares.studio.jres.modelconvert.EMFModelConverter"
            copyable="false"
            deleteable="false"
            filename="idrange.idrange"
            id="idrange"
            info-class="com.hundsun.ares.studio.jres.model.metadata.impl.IDRangeListImpl"
            moveable="false"
            name="对象号范围"
            order="800"
            renameable="false">
      </aresResource>
      <aresResource
            converter="com.hundsun.ares.studio.jres.modelconvert.EMFModelConverter"
            copyable="false"
            deleteable="false"
            filename="bizpropertyconfig.bizpropertyconfig"
            icon="icons/full/obj16/bizconfig.png"
            id="bizpropertyconfig"
            info-class="com.hundsun.ares.studio.jres.model.metadata.impl.BizPropertyConfigListImpl"
            moveable="false"
            name="业务包配置"
            order="900"
            renameable="false">
      </aresResource>
   </extension>
   <extension
         point="com.hundsun.ares.studio.core.rootToResTypeMaps">
               <map
            resTypes="defaultvalue,defaulttype,datatype,stdfield,dict,constant,errorno,menu,idrange,bizpropertyconfig"
            rootType="com.hundsun.ares.studio.jres.moduleroot.metadata">
      </map>
   </extension>
   <extension
         point="com.hundsun.ares.studio.core.moduleRoot">
                <root
            deletable="true"
            icon="icons/full/obj16/metadataFolder.gif"
            id="com.hundsun.ares.studio.jres.moduleroot.metadata"
            maxModuleLevel="0"
            name="元数据"
            order="100"
            renameable="false"
            useDefaultModule="false"
            useProperty="false">
      </root>
   </extension>
   <extension
         point="com.hundsun.ares.studio.core.defaultModuleRoots">
               <defaultRoot
            path="metadata"
            projectType="com.hundsun.ares.studio.jres.project.module"
            rootType="com.hundsun.ares.studio.jres.moduleroot.metadata">
      </defaultRoot>
   </extension>

      <extension
         point="com.hundsun.ares.studio.core.ares_extend_model_serializer">
      <serializer
            class="com.hundsun.ares.studio.jres.metadata.resources.internal.MDProjectPropertyConverter"
            key="MDModuleCommonProperty"
            targetClassName="com.hundsun.ares.studio.internal.core.ARESProjectProperty">
      </serializer>
      <serializer
            class="com.hundsun.ares.studio.jres.metadata.resources.internal.MDProjectPropertyConverter"
            key="MDModuleCommonProperty"
            targetClassName="com.hundsun.ares.studio.core.BasicReferencedLibInfo">
      </serializer>
   </extension>
      <extension
         point="com.hundsun.ares.studio.core.refResourcesProvider">
      <provider
            class="com.hundsun.ares.studio.reference.ARESRefResourceProvider"
            resTypes="defaultvalue,defaulttype,datatype,dict,constant,errorno,menu,idrange,bizpropertyconfig">
      </provider>
   </extension>
       <extension
         point="com.hundsun.ares.studio.core.refResourcesProvider">
      <provider
            class="com.hundsun.ares.studio.reference.ARESRefResourceStdFieldProvider"
            resTypes="stdfield">
      </provider>
   </extension>
   
      <extension
         point="com.hundsun.ares.studio.reference.ReferenceInfoProviders">
      <ReferenceInfoProvider
            class="com.hundsun.ares.studio.jres.metadata.resources.internal.MetadataReferenceInfoProvider"
            id="metadata"
            type="defaultvalue,stdfield,defaulttype,datatype,constant,idrange,bizpropertyconfig">
      </ReferenceInfoProvider>
      <ReferenceInfoProvider
            class="com.hundsun.ares.studio.jres.metadata.resources.internal.MenuReferenceInfoProvider"
            id="menu"
            type="menu">
      </ReferenceInfoProvider>
      <ReferenceInfoProvider
            class="com.hundsun.ares.studio.jres.metadata.resources.internal.DictionaryReferenceInfoProvider"
            id="dict"
            type="dict">
      </ReferenceInfoProvider>
      <ReferenceInfoProvider
            class="com.hundsun.ares.studio.jres.metadata.resources.ErrorNoReferenceInfoProvider"
            id="errno"
            type="errorno">
      </ReferenceInfoProvider>
       </extension>
          <extension
         point="com.hundsun.ares.studio.reference.ReferenceTypes">
      <ReferenceType
            id="jres.md.defaultvalue"
            resType="defaultvalue">
      </ReferenceType>
      <ReferenceType
            id="jres.md.stdfield"
            resType="stdfield">
      </ReferenceType>
      <ReferenceType
            id="jres.md.datatype"
            resType="datatype">
      </ReferenceType>
      <ReferenceType
            id="jres.md.defaulttype"
            resType="defaulttype">
      </ReferenceType>
      <ReferenceType
            id="jres.md.errorno"
            resType="errorno">
      </ReferenceType>
      <ReferenceType
            id="jres.md.constant"
            resType="constant">
      </ReferenceType>
      <ReferenceType
            id="jres.md.dict"
            resType="dict">
      </ReferenceType>
      <ReferenceType
            id="jres.md.menu"
            resType="menu">
      </ReferenceType>
      <ReferenceType
            id="jres.md.menu.function"
            resType="menu">
      </ReferenceType>
      <ReferenceType
            id="jres.md.idrange"
            resType="idrange">
      </ReferenceType>
      <ReferenceType
            id="jres.md.constant.dic"
            resType="dict">
      </ReferenceType>
      <ReferenceType
            id="jres.md.bizpropertyconfig"
            resType="bizpropertyconfig">
      </ReferenceType>
      <ReferenceType
            id="jres.md.errorno_no"
            resType="errorno">
      </ReferenceType>
   </extension>
          <extension
                point="com.hundsun.ares.studio.reference.RelationInfoProviders">
             <RelationInfoProvider
                   class="com.hundsun.ares.studio.jres.metadata.resources.internal.MetadataRelationInfoProvider"
                   id="metadata"
                   type="defaultvalue,stdfield,defaulttype,datatype,constant,errorno,dict,menu,bizpropertyconfig">
             </RelationInfoProvider>
          </extension>
</plugin>
