<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.hundsun.ares.studio.reference.ReferenceInfoProviders">
      <ReferenceInfoProvider
            class="com.hundsun.ares.studio.biz.reference.BizReferenceInfoProvider"
            id="object"
            type="object">
      </ReferenceInfoProvider>
      <ReferenceInfoProvider
            class="com.hundsun.ares.studio.jres.metadata.resources.internal.MetadataReferenceInfoProvider"
            id="stdobj.mxl"
            type="stdobj.xml">
      </ReferenceInfoProvider>
   </extension>
   <extension
         point="com.hundsun.ares.studio.core.aresResource">
      <aresResource
            category="com.hundsun.ares.studio.jres.category.object"
            converter="com.hundsun.ares.studio.jres.modelconvert.EMFModelConverter"
            copyable="true"
            deleteable="true"
            icon="icons/obj.gif"
            id="object"
            info-class="com.hundsun.ares.studio.biz.impl.ARESObjectImpl"
            moveable="true"
            name="对象"
            renameable="true">
      </aresResource>
      <resCategory
            id="com.hundsun.ares.studio.jres.category.object"
            name="对象"
            order="500">
      </resCategory>
      <aresResource
            converter="com.hundsun.ares.studio.jres.modelconvert.EMFModelConverter"
            copyable="true"
            deleteable="true"
            filename="stdobj.xml"
            icon="icons/obj.gif"
            id="stdobj.xml"
            info-class="com.hundsun.ares.studio.biz.impl.StandardObjFieldListImpl"
            moveable="false"
            name="对象标准字段"
            renameable="false">
      </aresResource>
   </extension>
      <extension
            point="com.hundsun.ares.studio.reference.ReferenceTypes">
         <ReferenceType
               id="jres.biz.object"
               resType="object">
         </ReferenceType>
         <ReferenceType
               id="jres.biz.stdobj"
               resType="stdobj.xml">
         </ReferenceType>
      </extension>
      <extension
            point="com.hundsun.ares.studio.core.rootToResTypeMaps">
         <map
               resTypes="object"
               rootType="com.hundsun.ares.studio.jres.moduleroot.business">
         </map>
         <map
               resTypes="object"
               rootType="com.hundsun.ares.studio.jres.obj.root">
         </map>
      </extension>
      <extension
            point="com.hundsun.ares.studio.core.moduleRoot">
         <root
               deletable="true"
               icon="icons/biz.gif"
               id="com.hundsun.ares.studio.jres.obj.root"
               name="业务对象"
               order="290"
               renameable="false"
               useDefaultModule="false"
               useProperty="false">
         </root>
      </extension>
       <extension
         point="com.hundsun.ares.studio.reference.RelationInfoProviders">
      <RelationInfoProvider
            class="com.hundsun.ares.studio.jres.obj.resource.provider.ObjectRelationInfoProvider"
            id="object"
            type="object">
      </RelationInfoProvider>
       </extension>
       <extension
             point="com.hundsun.ares.studio.biz.core.objectRefTypes">
          <objectRefType
                type="jres.biz.object"></objectRefType>
       </extension>

</plugin>
