<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 源程序名称：${file_name}
 软件著作权：恒生电子股份有限公司 版权所有
 系统名称：JRES Studio
 模块名称：${project_name}
 功能说明：$$desc
 相关文档：
 作者：${user}
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated service -->
      <factory
            uri="http://www.hundsun.com/ares/studio/jres/service/1.0.0"
            class="com.hundsun.ares.studio.jres.service.provider.ServiceItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.hundsun.ares.studio.jres.category"
            class="com.hundsun.ares.studio.jres.service.ui.wizard.NewServiceWizard"
            icon="icons/full/obj16/Service.gif"
            id="com.hundsun.ares.studio.jres.service.ui.newservicewizard"
            name="服务">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="com.hundsun.ares.studio.jres.service.ui.newservicewizard">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="com.hundsun.ares.studio.core.IARESModule">
                  </instanceof>
                  <test
                        args="service"
                        forcePluginActivation="true"
                        property="com.hundsun.ares.studio.core.isResTypeAllowed"
                        value="true">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="com.hundsun.ares.studio.ui.ARESResourceCategory">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="com.hundsun.ares.studio.ui.type"
                        value="com.hundsun.ares.studio.jres.category.service">
                  </test></and>
            </or></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.hundsun.ares.studio.jres.service.ui.editor.ServiceEditor"
            contributorClass="com.hundsun.ares.studio.ui.editor.EMFFormActionBarContributor"
            default="true"
            extensions="service"
            icon="icons/full/obj16/Service.gif"
            id="com.hundsun.ares.studio.jres.service.ui.serviceeditor"
            name="服务编辑器">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.hundsun.ares.studio.import.category"
            class="com.hundsun.ares.studio.jres.service.ui.wizard.ImportServiceWizard"
            icon="icons/full/obj16/Service.gif"
            id="com.hundsun.ares.studio.jres.service.ui.import"
            name="导入业务逻辑">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.hundsun.ares.studio.export.category"
            class="com.hundsun.ares.studio.jres.service.ui.wizard.ExportServiceWizard"
            icon="icons/excel.png"
            id="com.hundsun.ares.studio.jres.service.ui.export"
            name="导出业务逻辑">
      </wizard>
   </extension>
      <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
             adaptable="false"
             id="com.hundsun.ares.studio.jres.database.oracle.ui.objectContribution1"
             objectClass="com.hundsun.ares.studio.core.IARESModuleRoot">
          <action
                class="com.hundsun.ares.studio.ui.editor.blocks.OpenResourceAction"
                id="com.hundsun.ares.studio.ui.openresourceeditor"
                label="打开资源列表">
          </action>
          <visibility>
             <or>
                <objectState
                      name="rootType"
                      value="com.hundsun.ares.studio.jres.moduleroot.business">
                </objectState>
                <objectState
                      name="rootType"
                      value="com.hundsun.ares.studio.biz.core.root">
                </objectState></or></visibility>
       </objectContribution>
       <objectContribution
             adaptable="false"
             id="com.hundsun.ares.studio.jres.database.oracle.ui.objectContribution2"
             objectClass="com.hundsun.ares.studio.core.IARESModule">
          <action
                class="com.hundsun.ares.studio.ui.editor.blocks.OpenResourceAction"
                id="com.hundsun.ares.studio.ui.openresourceeditor1ui.action2"
                label="打开资源列表">
          </action>
          <visibility>
             <or>
                <objectState
                      name="rootType"
                      value="com.hundsun.ares.studio.jres.moduleroot.business">
                </objectState>
                <objectState
                      name="rootType"
                      value="com.hundsun.ares.studio.biz.core.root">
                </objectState></or>
          </visibility>
       </objectContribution>
   </extension>
         <extension
            point="com.hundsun.ares.studio.ui.editor.ExtensibleModelEditingSupports">
         <ExtensibleModelEditingSupport
               class="com.hundsun.ares.studio.jres.service.ui.extend.ServiceIDExtendEditingSupport"
               eclass="IDRangeItem"
               id="com.hundsun.ares.studio.jres.service.ui.srvidrange"
               order="502"
               uri="http://www.hundsun.com/ares/studio/jres/metadata/1.0.0">
         </ExtensibleModelEditingSupport>
      </extension>
      <extension
            point="org.eclipse.ltk.core.refactoring.renameParticipants">
         <renameParticipant
               class="com.hundsun.ares.studio.jres.service.ui.refactor.ServiceRenamePaticipant"
               id="com.hundsun.ares.studio.jres.service.renameParticipant"
               name="ResourceInService">
            <enablement>
               <with
                     variable="element">
                  <or>
                     <and>
                        <instanceof
                              value="com.hundsun.ares.studio.core.IARESResource">
                        </instanceof>
                        <or>
                           <test
                                 forcePluginActivation="true"
                                 property="com.hundsun.ares.studio.core.type"
                                 value="object">
                           </test>
                        </or>
                     </and>
                     <instanceof
                           value="com.hundsun.ares.studio.core.IARESModule">
                     </instanceof>
                  </or>
               </with>
            </enablement>
         </renameParticipant>
         <renameParticipant
               class="com.hundsun.ares.studio.jres.service.ui.refactor.StdObjRenamePaticipant"
               id="com.hundsun.ares.studio.jres.service.ui.stdobjrenameparicipant"
               name="StdObjListRename">
            <enablement>
               <with
                     variable="element">
                  <or>
                     <and>
                        <instanceof
                              value="com.hundsun.ares.studio.jres.metadata.ui.refactor.MetadataItemAndAresResourceModel">
                        </instanceof>
                     </and>
                  </or>
               </with>
            </enablement>
         </renameParticipant>
      </extension>
      <extension
            point="org.eclipse.ltk.core.refactoring.moveParticipants">
         <moveParticipant
               class="com.hundsun.ares.studio.jres.service.ui.refactor.ServiceMoveParticipant"
               id="com.hundsun.ares.studio.jres.service.ui.moveParticipant"
               name="ServiceMoveParticipant">
            <enablement>
               <with
                     variable="element">
                  <or>
                     <and>
                        <instanceof
                              value="com.hundsun.ares.studio.core.IARESResource">
                        </instanceof>
                        <or>
                           <test
                                 forcePluginActivation="true"
                                 property="com.hundsun.ares.studio.core.type"
                                 value="object">
                           </test>
                        </or>
                     </and>
                     <instanceof
                           value="com.hundsun.ares.studio.core.IARESModule">
                     </instanceof>
                  </or>
               </with>
            </enablement>
         </moveParticipant>
      </extension>
      <extension
               point="com.hundsun.ares.studio.ui.areasearch">
            <searcher
                  class="com.hundsun.ares.studio.jres.service.ui.search.ServiceSearcher"
                  id="com.hundsun.ares.studio.jres.service.ui.search"
                  items="对象号,英文名,中文名,服务输入输出"
                  order="4"
                  resTypes="服务">
            </searcher>
         </extension>
</plugin>
