<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="com.hundsun.ares.studio.ui.editor.ExtensibleModelEditingSupports">
       <ExtensibleModelEditingSupport
            class="com.hundsun.ares.studio.jres.database.oracle.internal.ui.OracleTableBaseEditingSupport"
            eclass="TableResourceData"
            id="com.hundsun.ares.studio.jres.database.oracle.ui.table.base"
            order="100"
            uri="http://www.hundsun.com/ares/studio/jres/database/1.0.0">
      </ExtensibleModelEditingSupport>
      <ExtensibleModelEditingSupport
            class="com.hundsun.ares.studio.jres.database.oracle.internal.ui.OracleTableIndexEditingSupport"
            eclass="TableIndex"
            id="com.hundsun.ares.studio.jres.database.oracle.ui.table.index"
            order="100"
            uri="http://www.hundsun.com/ares/studio/jres/database/1.0.0">
      </ExtensibleModelEditingSupport>
      <ExtensibleModelEditingSupport
            class="com.hundsun.ares.studio.jres.database.oracle.internal.ui.OracleViewBaseEditingSupport"
            eclass="ViewResourceData"
            id="com.hundsun.ares.studio.jres.database.oracle.ui.view.base"
            order="100"
            uri="http://www.hundsun.com/ares/studio/jres/database/1.0.0">
      </ExtensibleModelEditingSupport>
      <ExtensibleModelEditingSupport
             class="com.hundsun.ares.studio.jres.database.oracle.ui.extend.SequenceIDExtendEditingSupport"
             eclass="IDRangeItem"
             id="com.hundsun.ares.studio.jres.database.ui.sequenceidrange"
             order="102"
             uri="http://www.hundsun.com/ares/studio/jres/metadata/1.0.0">
       </ExtensibleModelEditingSupport>
      <ExtensibleModelEditingSupport
            class="com.hundsun.ares.studio.jres.database.oracle.internal.ui.OracleSequenceBaseEditingSupport"
            eclass="SequenceResourceData"
            id="com.hundsun.ares.studio.jres.database.oracle.ui.sequence.base"
            order="100"
            uri="http://www.hundsun.com/ares/studio/jres/database/oracle/1.0.0">
      </ExtensibleModelEditingSupport>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <!--
      <wizard
            category="com.hundsun.ares.studio.ui.category"
            class="com.hundsun.ares.studio.jres.database.oracle.ui.wizard.TriggerWizard"
            icon="icons/sample.gif"
            id="com.hundsun.ares.studio.jres.database.trigger.ui.wizard.TriggerWizard"
            name="触发器">
      </wizard>
      -->
      <wizard
            category="com.hundsun.ares.studio.ui.category"
            class="com.hundsun.ares.studio.jres.database.oracle.ui.wizard.SequenceWizard"
            icon="icons/sequence.gif"
            id="com.hundsun.ares.studio.jres.database.sequence.ui.SequenceWizard"
            name="数据库序列">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
     <!-- <commonWizard
            menuGroupId="com.hundsun.ares.studio.jres.ui.resource"
            type="new"
            wizardId="com.hundsun.ares.studio.jres.database.trigger.ui.wizard.TriggerWizard">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="com.hundsun.ares.studio.core.IARESModule">
                  </instanceof>
                  <test
                        args="jres_otrigger "
                        property="com.hundsun.ares.studio.core.isResTypeAllowed"
                        value="true">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="com.hundsun.ares.studio.ui.ARESResourceCategory">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="com.hundsun.ares.studio.ui.type"
                        value="com.hundsun.ares.studio.jres.database.trigger.ui.resCategory">
                  </test>
               </and>
            </or>
         </enablement>
      </commonWizard>
      -->
      <commonWizard
            menuGroupId="com.hundsun.ares.studio.jres.ui.resource"
            type="new"
            wizardId="com.hundsun.ares.studio.jres.database.sequence.ui.SequenceWizard">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="com.hundsun.ares.studio.core.IARESModule">
                  </instanceof>
                  <test
                        args="jres_osequence"
                        property="com.hundsun.ares.studio.core.isResTypeAllowed"
                        value="true">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="com.hundsun.ares.studio.ui.ARESResourceCategory">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="com.hundsun.ares.studio.ui.type"
                        value="com.hundsun.ares.studio.jres.database.sequence.ui.resCategory">
                  </test>
               </and>
            </or>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
     <!--
      <editor
            class="com.hundsun.ares.studio.jres.database.oracle.ui.editors.TriggerEditor"
            contributorClass="com.hundsun.ares.studio.ui.editor.EMFFormActionBarContributor"
            default="true"
            extensions="jres_otrigger"
            icon="icons/sample.gif"
            id="com.hundsun.ares.studio.jres11.database.trigger.ui.TriggerEditor"
            name="触发器编辑器">
      </editor>
      -->
      <editor
            class="com.hundsun.ares.studio.jres.database.oracle.ui.editors.SequenceEMFFormEditor"
            contributorClass="com.hundsun.ares.studio.ui.editor.EMFFormActionBarContributor"
            default="true"
            extensions="jres_osequence"
            icon="icons/sequence.gif"
            id="com.hundsun.ares.studio.jres11.database.sequence.ui.SequenceEditor"
            name="数据库序列编辑器">
      </editor>
      <editor
            class="com.hundsun.ares.studio.jres.database.oracle.ui.editors.OracleUserEditor"
            contributorClass="com.hundsun.ares.studio.ui.editor.EMFFormActionBarContributor"
            default="true"
            filenames="dbuser.dbuser"
            icon="icons/database_user.png"
            id="com.hundsun.ares.studio.jres11.database.oracle.ui.editors.OracleUserEditor"
            name="Oracle用户权限编辑器">
      </editor>
      <editor
            class="com.hundsun.ares.studio.jres.database.oracle.ui.editors.OracleSpaceEditor"
            contributorClass="com.hundsun.ares.studio.ui.editor.EMFFormActionBarContributor"
            default="true"
            filenames="dbobject.dbobject"
            icon="icons/oracle_tablespace.png"
            id="com.hundsun.ares.studio.jres11.database.oracle.ui.OracleSpaceEditor"
            name="Oracle表空间编辑器">
      </editor>
   </extension>
   <extension
         point="com.hundsun.ares.studio.ui.editor.ares_page">
   </extension>
    <extension
          point="org.eclipse.emf.edit.itemProviderAdapterFactories">
       <factory
             class="com.hundsun.ares.studio.jres.model.database.oracle.provider.OracleItemProviderAdapterFactory"
             uri="http://www.hundsun.com/ares/studio/jres/database/oracle/1.0.0"
              supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource">
       </factory>
    </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated oracle -->
      <factory
            uri="http://www.hundsun.com/ares/studio/jres/database/oracle/1.0.0"
            class="com.hundsun.ares.studio.jres.model.database.oracle.provider.OracleItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               org.eclipse.emf.edit.provider.IItemFontProvider"/>
   </extension>

</plugin>
