<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.hundsun.ares.studio.ui.editor.ares_page">
      <pageItem
            class="com.hundsun.ares.studio.procedure.ui.extend.ProcedureExtendPageForStock2"
            editor_id="com.hundsun.ares.studio.procedure.ui.editor.procedure"
            name="证券二部扩展"
            order="100"
            pageid="com.hundsun.ares.studio.procedure.ui.extend.procedureextendpage">
      </pageItem>
      <pageItem
            class="com.hundsun.ares.studio.procedure.ui.extend.DatabaseExtendPageForStock2"
            editor_id="com.hundsun.ares.studio.jres11.database.ui.tableeditor"
            name="证券二部数据库表扩展"
            order="100"
            pageid="com.hundsun.ares.studio.procedure.ui.extend.databaseextendpage">
      </pageItem>
      <pageItem
            class="com.hundsun.ares.studio.procedure.ui.extend.DatabaseExtendPageForStock2"
            editor_id="com.hundsun.ares.studio.jres11.database.sequence.ui.SequenceEditor"
            name="证券二部数据库序列扩展"
            order="100"
            pageid="com.hundsun.ares.studio.procedure.ui.extend.databaseextendpage">
      </pageItem>
      <pageItem
            class="com.hundsun.ares.studio.procedure.ui.extend.DatabaseExtendPageForStock2"
            editor_id="com.hundsun.ares.studio.jres11.database.ui.vieweditor"
            name="证券二部数据库视图扩展"
            order="100"
            pageid="com.hundsun.ares.studio.procedure.ui.extend.databaseextendpage">
      </pageItem>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
     <objectContribution
            adaptable="false"
            id="com.hundsun.ares.studio.procedure.ui.stock2.genpackagecode"
            objectClass="com.hundsun.ares.studio.core.IARESModule">
         <action
               class="com.hundsun.ares.studio.procedure.ui.action.GenPackageCodeAction"
               id="com.hundsun.ares.studio.cres.ui.action.genproccodewithnotpath"
               label="包头包体生成"
               menubarPath="com.hundsun.ares.studio.cres.ui.menu.genmodule/genmodule"
               state="true"
               style="push">
         </action>
         <visibility>
            <or>
               <objectState
                     name="rootType"
                     value="com.hundsun.ares.studio.procedure.resources.procedure">
               </objectState>
            </or>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.hundsun.ares.studio.procedure.ui.stock2.genendcode"
            objectClass="com.hundsun.ares.studio.core.IARESModule">
         <action
               class="com.hundsun.ares.studio.procedure.ui.action.GenEndCodeAction"
               id="com.hundsun.ares.studio.cres.ui.action.genendwithchinesepath"
               label="后置代码生成"
               menubarPath="com.hundsun.ares.studio.cres.ui.menu.genmodule/genmodule"
               state="true"
               style="push">
         </action>
         <visibility>
            <or>
               <objectState
                     name="rootType"
                     value="com.hundsun.ares.studio.procedure.resources.procedure">
               </objectState>
            </or>
         </visibility>         
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.hundsun.ares.studio.procedure.ui.stock2.genprocedurecode"
            objectClass="com.hundsun.ares.studio.core.IARESResource">
         <action
               class="com.hundsun.ares.studio.procedure.ui.action.GenProcedureCodeAction"
               id="com.hundsun.ares.studio.cres.ui.action.genproccodewithnotpath"
               label="过程代码生成"
               menubarPath="com.hundsun.ares.studio.cres.ui.menu.genmodule/genmodule"
               state="true"
               style="push">
         </action>
         <visibility>
            <and>
               <objectClass
                     name="com.hundsun.ares.studio.core.IARESResource">
               </objectClass>
               <objectState
                     name="type"
                     value="procedure">
               </objectState>
            </and>
         </visibility>
      </objectContribution>
   </extension>

</plugin>
