<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin
>
   <extension-point id="aresaction" name="Ares Action" schema="schema/aresaction.exsd"/>
   <extension-point id="AresActionDeclare" name="AresActionDeclare" schema="schema/AresActionDeclare.exsd"/>
   <extension-point id="areasearch" name="areasearch" schema="schema/areasearch.exsd"/>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.hundsun.ares.studio.core.IARESElement"
            class="com.hundsun.ares.studio.ui.ARESElementAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
      </factory>
      <factory
            adaptableType="com.hundsun.ares.studio.core.IARESElement"
            class="com.hundsun.ares.studio.internal.ActionFilterAdapterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.hundsun.ares.studio.ui.ARESResourceCategory"
            class="com.hundsun.ares.studio.ui.AresResourceCategoryAdapterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.mapping.ResourceMapping">
         </adapter>
      </factory>
      <factory
            adaptableType="com.hundsun.ares.studio.core.IResPathEntryElement"
            class="com.hundsun.ares.studio.ui.RespathEntryElementAdapterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="java.lang.Object"
            class="com.hundsun.ares.studio.ui.OrderableAdapterFactory">
         <adapter
               type="com.hundsun.ares.studio.core.registry.IOrderable">
         </adapter>
      </factory>
      <factory
            adaptableType="com.hundsun.ares.studio.core.IReferencedLibrary"
            class="com.hundsun.ares.studio.internal.ui.RefLibPropertySourceAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
  <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="com.hundsun.ares.studio.navigator.content">
            </contentExtension>
            <contentExtension
                  pattern="com.hundsun.ares.studio.ui.filter.*">
            </contentExtension>
            <contentExtension
                  pattern="com.hundsun.ares.studio.ui.linkHelper">
            </contentExtension></includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="com.hundsun.ares.studio.ui.action.refactorProject">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.hundsun.ares.studio.ui.CommonNavigatorContentProvider"
            icon="icons/obj16/ares.png"
            id="com.hundsun.ares.studio.navigator.content"
            labelProvider="com.hundsun.ares.studio.ui.CommonNavigatorLabelProvider"
            name="ARES"
            priority="high">
         <triggerPoints>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="com.hundsun.ares.studio.core.aresnature">
                  </test>
               </adapt>
               <instanceof
                     value="com.hundsun.ares.studio.core.IARESElement">
               </instanceof>
               <instanceof
                     value="com.hundsun.ares.studio.ui.RefLibContainer">
               </instanceof>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="com.hundsun.ares.studio.core.aresnature">
                  </test>
               </and></or></triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <instanceof
                     value="com.hundsun.ares.studio.core.IARESElement">
               </instanceof>
               <instanceof
                     value="com.hundsun.ares.studio.ui.ARESResourceCategory">
               </instanceof>
               <instanceof
                     value="com.hundsun.ares.studio.ui.RefLibContainer">
               </instanceof>
               <instanceof
                     value="com.hundsun.ares.studio.ui.RefLibContainer$RequiredProject">
               </instanceof></or></possibleChildren>
         <override
               policy="InvokeAlwaysRegardlessOfSuppressedExt"
               suppressedExtensionId="org.eclipse.ui.navigator.resourceContent">
         </override>
         <actionProvider
               class="com.hundsun.ares.studio.ui.action.ARESNavitagorViewActionProvider"
               id="com.hundsun.ares.studio.ui.action.viewactions">
         </actionProvider>
         <actionProvider
               class="com.hundsun.ares.studio.ui.action.ARESOpenActionProvider"
               id="com.hundsun.ares.devtool.v2.ui.openaction">
         </actionProvider>
         <actionProvider
               class="com.hundsun.ares.studio.ui.action.ARESEditActionProvider"
               id="com.hundsun.ares.devtool.v2.ui.editaction">
         </actionProvider>
         <actionProvider
               class="com.hundsun.ares.studio.ui.action.RefactorActionProvider"
               id="com.hundsun.ares.studio.ui.action.refactorgroup">
         </actionProvider>
         <actionProvider
               class="com.hundsun.ares.studio.internal.ui.aresaction.ARESActionProvider"
               id="com.hundsun.ares.devtool.v2.ui.aresaction">
         </actionProvider>
         <actionProvider
               class="org.eclipse.ui.internal.navigator.resources.actions.NewActionProvider"
               id="com.hundsun.ares.studio.action.new">
            <enablement>
               <and>
                  <instanceof
                        value="com.hundsun.ares.studio.ui.ARESResourceCategory">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="com.hundsun.ares.studio.ui.isArchive"
                        value="false">
                  </test>
               </and>
            </enablement>
         </actionProvider>
         <dropAssistant
               class="com.hundsun.ares.studio.ui.CommonDropAdapterAssistant"
               id="com.hundsun.ares.studio.ui.dropAssistant">
            <possibleDropTargets></possibleDropTargets>
         </dropAssistant>
         <commonSorter
               class="com.hundsun.ares.studio.ui.ARESElementSorter"
               id="com.hundsun.ares.studio.ui.sorter">
         </commonSorter>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="com.hundsun.ares.studio.internal.ui.EmptyCateFilter"
            description="不显示空的分类文件夹"
            id="com.hundsun.ares.studio.ui.filter.emptyCategory"
            name="空分类">
      </commonFilter>
      <commonFilter
            activeByDefault="false"
            class="com.hundsun.ares.studio.internal.ui.ModulePropertyFilter"
            description="不显示模块属性节点"
            id="com.hundsun.ares.studio.ui.filter.moduleproperty"
            name="模块属性">
      </commonFilter>
      <actionProvider
            class="com.hundsun.ares.studio.ui.action.RefactorProjectActionProvider"
            id="com.hundsun.ares.studio.ui.action.refactorProject"
            overrides="org.eclipse.ui.navigator.resources.actions.RefactorActions"
            priority="highest">
         <enablement>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="com.hundsun.ares.studio.core.aresnature">
               </test>
            </and>
         </enablement>
      </actionProvider>
      <commonWizard
            type="new"
            wizardId="com.hundsun.ares.studio.ui.modulewizard">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="com.hundsun.ares.studio.core.IARESModuleRoot">
                  </instanceof>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="com.hundsun.ares.studio.core.maxModuleLevel"
                           value="0">
                     </test>
                  </not>
               </and>
               <instanceof
                     value="com.hundsun.ares.studio.core.IARESModule">
               </instanceof>
            </or>
         </enablement>
      </commonWizard>
   </extension>
   <!--extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.hundsun.ares.devtool.common.internal.ui.editor.ProjectPropertyEditor"
            default="true"
            filenames="project.xml"
            icon="icons/obj16/module_pro.gif"
            id="com.hundsun.ares.devtool.common.ui.editor1"
            name="项目属性">
      </editor>
   </extension-->
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.hundsun.ares.studio.ui.CategoryPropertyTester"
            id="com.hundsun.ares.studio.ui.arescategorytester"
            namespace="com.hundsun.ares.studio.ui"
            properties="type,isArchive,nature"
            type="com.hundsun.ares.studio.ui.ARESResourceCategory">
      </propertyTester>
      <propertyTester
            class="com.hundsun.ares.studio.internal.ui.RefLibContainerPropertyTester"
            id="com.hundsun.ares.studio.ui.reflibcontainerPropertyTester"
            namespace="com.hundsun.ares.studio.ui"
            properties="projectNature"
            type="com.hundsun.ares.studio.ui.RefLibContainer">
      </propertyTester>
      <propertyTester
            class="com.hundsun.ares.studio.internal.ui.RequiredProjectPropertyTester"
            id="com.hundsun.ares.studio.ui.reqProjectPropertyTester"
            namespace="com.hundsun.ares.studio.ui"
            properties="hostProjectNature"
            type="com.hundsun.ares.studio.ui.RefLibContainer$RequiredProject">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.hundsun.ares.studio.internal.ui.ARESPreferencePage"
            id="com.hundsun.ares.studio.ui.page"
            name="ARES">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.hundsun.ares.studio.internal.ARESPreferenceInitializer">
      </initializer>
   </extension>
   
    <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.hundsun.ares.studio.ui.page"
            class="com.hundsun.ares.studio.internal.ui.ErrorCheckPreferencePage"
            id="com.hundsun.ares.studio.ui.error"
            name="错误检查">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.hundsun.ares.studio.internal.ErrorCheckPreferenceInitializer">
      </initializer>
   </extension>
   <!--extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="com.hundsun.ares.studio.ui.ares"
            name="ARES">
      </category>
      <wizard
            category="com.hundsun.ares.studio.ui.ares"
            class="com.hundsun.ares.studio.internal.ui.AresLibExportWizard"
            icon="icons/obj16/libiray.gif"
            id="com.hundsun.ares.studio.ui.areslib"
            name="引用资源包">
      </wizard>
   </extension-->
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            icon="icons/error_co.gif"
            id="com.hundsun.ares.studio.ui.errordecorator"
            label="Ares错误"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <and>
               <or>
                  <objectClass
                        name="com.hundsun.ares.studio.core.IARESElement">
                  </objectClass>
                  <objectClass
                        name="com.hundsun.ares.studio.ui.ARESResourceCategory">
                  </objectClass>
               </or>
               <objectState
                     name="hasError"
                     value="true">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            icon="icons/warning_co.gif"
            id="com.hundsun.ares.studio.ui.warndecorator"
            label="Ares警告"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <and>
               <or>
                  <objectClass
                        name="com.hundsun.ares.studio.core.IARESElement">
                  </objectClass>
                  <objectClass
                        name="com.hundsun.ares.studio.ui.ARESResourceCategory">
                  </objectClass></or>
               <objectState
                     name="hasWarning"
                     value="true">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            class="com.hundsun.ares.studio.internal.ui.AresProjectProblemProvider"
            id="com.hundsun.ares.studio.ui.project_error_decorator"
            label="AresProblems(Project)"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
               <objectState
                     name="nature"
                     value="com.hundsun.ares.studio.core.aresnature">
               </objectState>
            </or>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            icon="icons/external_co.gif"
            id="com.hundsun.ares.studio.ui.externalreference"
            label="外部引用"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
         	<and>
             <objectClass
                   name="com.hundsun.ares.studio.core.IResPathEntryElement">
             </objectClass>
         	   <objectState
                  name="external"
                  value="true">
               </objectState>
         	</and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="com.hundsun.ares.studio.ui.LinkHelper"
            id="com.hundsun.ares.studio.ui.linkHelper">
         <editorInputEnablement>
            <or>
               <instanceof
                     value="org.eclipse.ui.IFileEditorInput">
               </instanceof>
               <instanceof
                     value="com.hundsun.ares.studio.ui.ARESResourceEditorInput">
               </instanceof>
            </or></editorInputEnablement>
         <selectionEnablement>
            <instanceof
                  value="com.hundsun.ares.studio.core.IARESResource">
            </instanceof></selectionEnablement>
      </linkHelper>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.ui.navigator.ProjectExplorer">
         <propertyTab
               category="resource"
               id="com.hundsun.ares.studio.ui.reflibpropertyTab"
               label="引用资源包">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.ui.navigator.ProjectExplorer">
         <propertySection
               class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
               id="info"
               tab="com.hundsun.ares.studio.ui.propertyTab">
            <input
                  type="com.hundsun.ares.studio.core.IReferencedLibrary">
            </input>
         </propertySection>
      </propertySections>
   </extension>
      <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="com.hundsun.ares.studio.ui.console.ARESConsoleFactory"
            label="ARES">
      </consoleFactory>
   </extension>
      <extension
         id="aresmodelprovider"
         name="ARES Element Model Provider"
         point="org.eclipse.core.resources.modelProviders">
      <modelProvider
            class="com.hundsun.ares.studio.internal.ui.ARESModelProvider">
      </modelProvider>
   </extension>
      <extension
            point="org.eclipse.ltk.core.refactoring.renameParticipants">
         <renameParticipant
               class="com.hundsun.ares.studio.internal.ui.refactoring.ContainerRenameParticipant"
               id="com.hundsun.ares.studio.ui.containerRenameParticipant"
               name="更新.respath">
            <enablement>
               <with
                     variable="element">
                  <instanceof
                        value="org.eclipse.core.resources.IContainer">
                  </instanceof>
               </with></enablement>
         </renameParticipant>
      </extension>
      <extension
            point="org.eclipse.ui.newWizards">
         <category
               id="com.hundsun.ares.studio.ui.category"
               name="ARES">
         </category>
         <wizard
               category="com.hundsun.ares.studio.ui.category"
               class="com.hundsun.ares.studio.ui.wizard.ARESModuleWizard"
               icon="icons/aresmodule.gif"
               id="com.hundsun.ares.studio.ui.modulewizard"
               name="模块"
               project="false">
         </wizard>
      </extension>
      <extension
            point="org.eclipse.emf.edit.itemProviderAdapterFactories">
         <factory
               class="com.hundsun.ares.studio.core.model.provider.CoreItemProviderAdapterFactory"
               uri="http://www.hundsun.com/ares/studio/core/1.0.0"
			   supportedTypes=
	              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
	               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
	               org.eclipse.emf.edit.provider.ITreeItemContentProvider
	               org.eclipse.emf.edit.provider.IItemLabelProvider
	               org.eclipse.emf.edit.provider.IItemPropertySource"/>
      </extension>
            <extension
            point="org.eclipse.ui.importWizards">
         <category
               id="com.hundsun.ares.studio.import.category"
               name="ARES">
         </category>
      </extension>
      <extension
            point="org.eclipse.ui.exportWizards">
         <category
               id="com.hundsun.ares.studio.export.category"
               name="ARES">
         </category>
      </extension>
      <extension
            point="org.eclipse.ui.popupMenus">
         <objectContribution
               adaptable="true"
               id="com.hundsun.ares.studio.ui.errorcheck"
               objectClass="com.hundsun.ares.studio.core.IARESElement">
            <action
                  class="com.hundsun.ares.studio.ui.action.ErrorCheckAction"
                  id="com.hundsun.ares.studio.ui.errorcheck"
                  label="错误检查">
            </action>
         </objectContribution>
      </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated template -->
      <package
            uri="http://www.hundsun.com/ares/studio/ui/template/1.0.0"
            class="com.hundsun.ares.studio.ui.template.TemplatePackage"
            genModel="model/template.genmodel"/>
   </extension>
   
   <extension
         point="org.eclipse.search.searchPages">
      <page
            canSearchEnclosingProjects="true"
            class="com.hundsun.ares.studio.ui.search.ARESSearchPage"
            enabled="true"
            icon="icons/search.gif"
            id="com.hundsun.ares.studio.ui.search"
            label="ARES搜索"
            showScopeSection="true">
      </page>
   </extension>
    <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="com.hundsun.ares.studio.ui.search.ARESSearchResultPage"
            icon="icons/search.gif"
            id="com.hundsun.ares.studio.ui.search.view"
            label="ARES搜索结果"
            searchResultClass="com.hundsun.ares.studio.ui.search.ARESElementSearchResult">
      </viewPage>
   </extension>

</plugin>
