<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.hundsun.ares.studio.core.moduleRoot">
      <root
            deletable="true"
            id="com.hundsun.ares.studio.logic.resources.logicroot"
            name="业务逻辑"
            order="700"
            renameable="false"
            useDefaultModule="false"
            useProperty="false">
      </root>
   </extension>
   <extension
         point="com.hundsun.ares.studio.core.aresResource">
      <aresResource
            category="com.hundsun.ares.studio.logic.resource.category.ls"
            converter="com.hundsun.ares.studio.jres.modelconvert.EMFModelConverter"
            copyable="true"
            deleteable="true"
            icon="icons/service.gif"
            id="logicservice"
            info-class="com.hundsun.ares.studio.logic.impl.LogicServiceImpl"
            moveable="true"
            name="逻辑服务"
            order="100"
            renameable="true">
      </aresResource>
      <aresResource
            category="com.hundsun.ares.studio.logic.resource.category.lf"
            converter="com.hundsun.ares.studio.jres.modelconvert.EMFModelConverter"
            copyable="true"
            deleteable="true"
            icon="icons/function.gif"
            id="logicfunction"
            info-class="com.hundsun.ares.studio.logic.impl.LogicFunctionImpl"
            moveable="true"
            name="逻辑函数"
            order="200"
            renameable="true">
      </aresResource>
      <resCategory
            id="com.hundsun.ares.studio.logic.resource.category.ls"
            name="逻辑服务"
            order="100">
      </resCategory>
      <resCategory
            id="com.hundsun.ares.studio.logic.resource.category.lf"
            name="逻辑函数"
            order="200">
      </resCategory>
   </extension>
   <extension
         point="com.hundsun.ares.studio.core.rootToResTypeMaps">
      <map
            resTypes="logicfunction,logicservice"
            rootType="com.hundsun.ares.studio.logic.resources.logicroot">
      </map>
   </extension>
   <extension
         point="com.hundsun.ares.studio.reference.ReferenceTypes">
      <ReferenceType
            id="logicservice"
            resType="logicservice">
      </ReferenceType>
      <ReferenceType
            id="logicfunction"
            resType="logicfunction">
      </ReferenceType>
      <ReferenceType
            id="logicservice.cname"
            resType="logicservice">
      </ReferenceType>
      <ReferenceType
            id="logicfunction.cname"
            resType="logicfunction">
      </ReferenceType>
   </extension>
   <extension
         point="com.hundsun.ares.studio.reference.ReferenceInfoProviders">
      <ReferenceInfoProvider
            class="com.hundsun.ares.studio.logic.resource.provider.ReferenceInfoProvider"
            id="logicresource"
            type="logicservice,logicfunction">
      </ReferenceInfoProvider>
   </extension>
   <extension
         point="com.hundsun.ares.studio.reference.RelationInfoProviders">
      <RelationInfoProvider
            class="com.hundsun.ares.studio.logic.resource.LogicRelationInfoProvider"
            id="logic"
            type="logicservice,logicfunction">
      </RelationInfoProvider>
   </extension>

</plugin>
