<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.hundsun.ares.studio.engin.skeletonfactory">
      <SkeletonFactory
            class="com.hundsun.ares.studio.procedure.compiler.mysql.ProcedureSkeletonFactory"
            id="com.hundsun.ares.studio.procedure.compiler.SkeletonFactory.cres.procedure.mysql"
            type="procedure.mysql">
      </SkeletonFactory>
   </extension>

</plugin>
