<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="com.hundsun.ares.studio.core.aresResource">
      <aresResource
            category="com.hundsun.ares.studio.jres.category.database"
            converter="com.hundsun.ares.studio.jres.database.resources.DBModelConverter"
            deleteable="true"
            icon="icons/table.gif"
            id="table"
            info-class="com.hundsun.ares.studio.jres.model.database.impl.TableResourceDataImpl"
            moveable="true"
            name="数据库表"
            order="100">
      </aresResource>
      <aresResource
            category="com.hundsun.ares.studio.jres.category.database.view"
            converter="com.hundsun.ares.studio.jres.database.resources.DBModelConverter"
            deleteable="true"
            icon="icons/view.gif"
            id="view"
            info-class="com.hundsun.ares.studio.jres.model.database.impl.ViewResourceDataImpl"
            moveable="true"
            name="数据库视图"
            order="200">
      </aresResource>
      <resCategory
            id="com.hundsun.ares.studio.jres.category.database"
            name="数据库表"
            order="100">
      </resCategory>
      <resCategory
            id="com.hundsun.ares.studio.jres.category.database.view"
            name="数据库视图"
            order="100">
      </resCategory>
   </extension>
      <extension
         point="com.hundsun.ares.studio.core.rootToResTypeMaps">
      <map
            resTypes="table,view"
            rootType="com.hundsun.ares.studio.jres.moduleroot.database">
      </map>
   </extension>
      <extension
         point="com.hundsun.ares.studio.core.ares_extend_model_serializer">
      <serializer
            class="com.hundsun.ares.studio.jres.database.resource.internal.DBProjectPropertyConverter"
            key="DBModuleCommonProperty"
            targetClassName="com.hundsun.ares.studio.internal.core.ARESProjectProperty">
      </serializer>
      <serializer
            class="com.hundsun.ares.studio.jres.database.resource.internal.DBProjectPropertyConverter"
            key="DBModuleCommonProperty"
            targetClassName="com.hundsun.ares.studio.core.BasicReferencedLibInfo">
      </serializer>
   </extension>
      <extension
         point="com.hundsun.ares.studio.core.resValidator">
      <validator
            class="com.hundsun.ares.studio.jres.database.resource.validator.DatabaseResValidator"
            id="com.hundsun.ares.studio.jres.database.core.resvalidator"
            resTypes="table,view">
      </validator>
   </extension>
      <extension
            point="com.hundsun.ares.studio.reference.ReferenceInfoProviders">
         <ReferenceInfoProvider
               class="com.hundsun.ares.studio.jres.database.resource.internal.DatabaseReferenceInfoProvider"
               id="database"
               type="table,view">
         </ReferenceInfoProvider>
      </extension>
      <extension
            point="com.hundsun.ares.studio.reference.ReferenceTypes">
         <ReferenceType
               id="jres.db.table"
               resType="table">
         </ReferenceType>
         <ReferenceType
               id="jres.db.view"
               resType="view">
         </ReferenceType>
         <ReferenceType
               id="jres.db.table.index"
               resType="table">
         </ReferenceType>
         <ReferenceType
               id="jres.db.table.field"
               resType="table">
         </ReferenceType>
      </extension>
      <extension
            point="com.hundsun.ares.studio.reference.RelationInfoProviders">
         <RelationInfoProvider
               class="com.hundsun.ares.studio.jres.database.resource.internal.DatabaseRelationInfoProvider"
               id="database"
               type="table,view">
         </RelationInfoProvider>
      </extension>
      <extension
            point="com.hundsun.ares.studio.modelconvert.converterHandles">
         <converterHandle
               class="com.hundsun.ares.studio.jres.database.resources.ModelConverterHandle"
               type="table">
         </converterHandle>
      </extension>
      <extension
            point="com.hundsun.ares.studio.core.moduleRoot">
            <root
            deletable="true"
            icon="icons/数据库.gif"
            id="com.hundsun.ares.studio.jres.moduleroot.database"
            name="数据库"
            order="200"
            useDefaultModule="false">
      </root>
      </extension>
</plugin>
