<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated biz -->
      <factory
            uri="http://www.hundsun.com/ares/studio/biz/1.0.0"
            class="com.hundsun.ares.studio.biz.provider.BizItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   <extension
         point="com.hundsun.ares.studio.core.resValidator">
      <validator
            class="com.hundsun.ares.studio.biz.ui.resource.validate.BizResValidator"
            id="com.hundsun.ares.studio.biz.ui.ResValidator"
            resTypes="service,logicservice,logicfunction,atomservice,atomfunction,procedure">
      </validator>
   </extension>
   <extension
         point="com.hundsun.ares.studio.ui.editor.project_property_extensionfield_editor">
      <fieldEditor
            class="com.hundsun.ares.studio.biz.ui.RealTypeExtensionFieldEditor"
            id="com.hundsun.ares.studio.biz.ui.realtype"
            order="1000">
      </fieldEditor>
   </extension>

</plugin>
