<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.hundsun.ares.studio.jres.category"
            class="com.hundsun.ares.studio.jres.obj.ui.wizard.NewObjectWizard"
            icon="icons/obj.gif"
            id="com.hundsun.ares.studio.jres.obj.ui.newobjwizard"
            name="对象">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="com.hundsun.ares.studio.jres.obj.ui.newobjwizard">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="com.hundsun.ares.studio.core.IARESModule">
                  </instanceof>
                  <test
                        args="object"
                        forcePluginActivation="true"
                        property="com.hundsun.ares.studio.core.isResTypeAllowed"
                        value="true">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="com.hundsun.ares.studio.ui.ARESResourceCategory">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="com.hundsun.ares.studio.ui.type"
                        value="com.hundsun.ares.studio.jres.category.object">
                  </test></and>
            </or></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.hundsun.ares.studio.jres.obj.ui.editor.ObjectEditor"
            contributorClass="com.hundsun.ares.studio.ui.editor.EMFFormActionBarContributor"
            default="true"
            extensions="object"
            icon="icons/obj.gif"
            id="com.hundsun.ares.studio.jres.obj.ui.objeditor"
            name="对象编辑器">
      </editor>
      <editor
            class="com.hundsun.ares.studio.jres.obj.ui.editor.StdObjectListEditor"
            contributorClass="com.hundsun.ares.studio.ui.editor.EMFFormActionBarContributor"
            default="true"
            filenames="stdobj.xml"
            icon="icons/obj.gif"
            id="com.hundsun.ares.studio.jres.obj.ui.stdobjlisteditor"
            name="对象标准字段编辑器">
      </editor>
   </extension>
      <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
             adaptable="false"
             id="com.hundsun.ares.studio.jres.database.oracle.ui.objectContribution1"
             objectClass="com.hundsun.ares.studio.core.IARESModuleRoot">
          <action
                class="com.hundsun.ares.studio.ui.editor.blocks.OpenResourceAction"
                id="com.hundsun.ares.studio.ui.openresourceeditor"
                label="打开资源列表">
          </action>
          <visibility>
             <or>
                <objectState
                      name="rootType"
                      value="com.hundsun.ares.studio.jres.obj.root">
                </objectState></or></visibility>
       </objectContribution>
       <objectContribution
             adaptable="false"
             id="com.hundsun.ares.studio.jres.database.oracle.ui.objectContribution2"
             objectClass="com.hundsun.ares.studio.core.IARESModule">
          <action
                class="com.hundsun.ares.studio.ui.editor.blocks.OpenResourceAction"
                id="com.hundsun.ares.studio.ui.openresourceeditor1ui.action2"
                label="打开资源列表">
          </action>
          <visibility>
             <or>
                <objectState
                      name="rootType"
                      value="com.hundsun.ares.studio.jres.obj.root">
                </objectState></or>
          </visibility>
       </objectContribution>
   </extension>
   
          <extension
             point="com.hundsun.ares.studio.core.resValidator">
          <validator
                class="com.hundsun.ares.studio.biz.ui.resource.validate.BizResValidator"
                id="com.hundsun.ares.studio.jres.obj.resource.validator"
                resTypes="object">
          </validator>
       </extension>
          <extension
                point="com.hundsun.ares.studio.ui.editor.ExtensibleModelEditingSupports">
             <ExtensibleModelEditingSupport
                   class="com.hundsun.ares.studio.jres.obj.ui.extend.ObjectIDExtendEditingSupport"
                   eclass="IDRangeItem"
                   id="com.hundsun.ares.studio.jres.obj.ui.objidrange"
                   order="501"
                   uri="http://www.hundsun.com/ares/studio/jres/metadata/1.0.0">
             </ExtensibleModelEditingSupport>
          </extension>
          
                <extension
            point="org.eclipse.ltk.core.refactoring.renameParticipants">
         <renameParticipant
               class="com.hundsun.ares.studio.jres.obj.ui.refactor.ObjectRenamePaticipant"
               id="com.hundsun.ares.studio.jres.obj.ui.renameParticipant"
               name="ObjectRename">
            <enablement>
               <with
                     variable="element">
                  <or>
                     <and>
                        <instanceof
                              value="com.hundsun.ares.studio.core.IARESResource">
                        </instanceof>
                        <or>
                           <test
                                 forcePluginActivation="true"
                                 property="com.hundsun.ares.studio.core.type"
                                 value="object">
                           </test>
                        </or>
                     </and>
                     <instanceof
                           value="com.hundsun.ares.studio.core.IARESModule">
                     </instanceof>
                  </or>
               </with>
            </enablement>
         </renameParticipant>
         <renameParticipant
               class="com.hundsun.ares.studio.jres.obj.ui.refactor.StdObjRenamePaticipant"
               id="com.hundsun.ares.studio.jres.obj.ui.stdobjrenameparicipant"
               name="StdObjListRename">
            <enablement>
               <with
                     variable="element">
                  <or>
                     <and>
                        <instanceof
                              value="com.hundsun.ares.studio.jres.metadata.ui.refactor.MetadataItemAndAresResourceModel">
                        </instanceof>
                     </and>
                  </or>
               </with>
            </enablement>
         </renameParticipant>
      </extension>
      <extension
            point="org.eclipse.ltk.core.refactoring.moveParticipants">
         <moveParticipant
               class="com.hundsun.ares.studio.jres.obj.ui.refactor.ObjectMoveParticipant"
               id="com.hundsun.ares.studio.jres.obj.ui.moveParticipant"
               name="ObjectMoveParticipant">
            <enablement>
               <with
                     variable="element">
                  <or>
                     <and>
                        <instanceof
                              value="com.hundsun.ares.studio.core.IARESResource">
                        </instanceof>
                        <or>
                           <test
                                 forcePluginActivation="true"
                                 property="com.hundsun.ares.studio.core.type"
                                 value="object">
                           </test>
                        </or>
                     </and>
                     <instanceof
                           value="com.hundsun.ares.studio.core.IARESModule">
                     </instanceof>
                  </or>
               </with>
            </enablement>
         </moveParticipant>
      </extension>
      
      <extension
               point="com.hundsun.ares.studio.ui.areasearch">
            <searcher
                  class="com.hundsun.ares.studio.jres.obj.ui.search.ObjectSearcher"
                  id="com.hundsun.ares.studio.jres.obj.ui.objectsearch"
                  items="对象号,英文名,中文名,对象属性"
                  order="3"
                  resTypes="对象">
            </searcher>
         </extension>
</plugin>
