<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.hundsun.ares.studio.core.aresResource">
      <aresResource
            converter="com.hundsun.ares.studio.jres.modelconvert.EMFModelConverter"
            copyable="true"
            deleteable="true"
            filename="usermacro.xml"
            icon="icons/resource.png"
            id="usermacro.xml"
            info-class="com.hundsun.ares.studio.usermacro.impl.UserMacroImpl"
            moveable="false"
            name="用户自定义宏"
            order="900"
            renameable="false">
      </aresResource>
      <aresResource
            converter="com.hundsun.ares.studio.jres.modelconvert.EMFModelConverter"
            copyable="true"
            deleteable="true"
            filename="systemmacro.xml"
            icon="icons/resource.png"
            id="systemmacro.xml"
            info-class="com.hundsun.ares.studio.usermacro.impl.UserMacroImpl"
            moveable="false"
            name="系统内置宏"
            order="800"
            renameable="false">
      </aresResource>
   </extension>

</plugin>
