<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="ares_page" name="ares_page" schema="schema/ares_page.exsd"/>
   <extension-point id="ares_detail_page" name="ares_detail_page" schema="schema/ares_detail_page.exsd"/>
   <extension-point id="ares_extend_field" name="ares_extend_field" schema="schema/ares_extend_field.exsd"/>
   <extension-point id="ares_field_detail" name="ares_field_detail" schema="schema/ares_field_detail.exsd"/>
   <extension-point id="project_property_extensionfield_editor" name="项目属性扩展字段编辑器" schema="schema/project_property_extensionfield_editor.exsd"/>
   <extension-point id="ExtensibleModelEditingSupports" name="ExtensibleModel EditingSupport" schema="schema/ExtensibleModelEditingSupports.exsd"/>
   <extension-point id="ContributorDecorator" name="Contributor Decorator" schema="schema/ContributorDecorator.exsd"/>
   <extension-point id="BlockDecorators" name="BlockDecorators" schema="schema/BlockDecorators.exsd"/>
   <extension-point id="user_extended_property_type_provider" name="User Extended Property Type extension point" schema="schema/user_extended_property_type_provider.exsd"/>
   
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="com.hundsun.ares.studio.ui.editor.ConsoleFactory1"
            label="label">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.hundsun.ares.studio.ui.editor.ProjectPropertyEditor"
            default="true"
            filenames="project.xml"
            icon="icons/project_pro.gif"
            id="com.hundsun.ares.studio.ui.editor.projecteditor"
            name="项目属性">
      </editor>
      <editor
            class="com.hundsun.ares.studio.ui.editor.ModulePropertyEditor"
            default="true"
            filenames="module.xml"
            icon="icons/module_pro.gif"
            id="com.hundsun.ares.studio.ui.editor.moduleproperty"
            name="模块属性">
      </editor>
      <editor
            class="com.hundsun.ares.studio.ui.editor.RootPropertyEditor"
            default="true"
            filenames="root.xml"
            icon="icons/module_pro.gif"
            id="com.hundsun.ares.studio.ui.editor.rootpropertyeditor"
            name="模块根属性编辑器">
      </editor>
      <editor
            class="com.hundsun.ares.studio.ui.editor.blocks.OpenResourceEditor"
            default="false"
            icon="icons/class_diagram.gif"
            id="com.hundsun.ares.studio.ui.openResourceEditor"
            name="资源列表">
      </editor>
   </extension>
  <extension
        point="com.hundsun.ares.studio.ui.editor.ExtensibleModelEditingSupports">
     <ExtensibleModelEditingSupport
           class="com.hundsun.ares.studio.ui.editor.extend.UserExtensibleModelEditingSupport"
           eclass="ExtensibleModel"
           id="com.hundsun.ares.studio.jres.ui.user"
           order="100000"
           uri="http://www.hundsun.com/ares/studio/core/1.0.0">
     </ExtensibleModelEditingSupport>
  </extension>
  
  <extension
      point="com.hundsun.ares.studio.ui.editor.ares_page">
      
       <pageItem
             class="com.hundsun.ares.studio.ui.editor.blocks.ExtensibleModelConfigPage"
             editor_id="com.hundsun.ares.studio.ui.editor.projecteditor"
             name="扩展属性配置"
             order="200"
             pageid="com.hundsun.ares.studio.jres.ui.projectproperty.ExtensibleModelConfigPage">
       </pageItem>
       <pageItem
             class="com.hundsun.ares.studio.ui.editor.blocks.ProjectExtensibleModelPage"
             editor_id="com.hundsun.ares.studio.ui.editor.projecteditor"
             name="用户属性"
             order="300"
             pageid="com.hundsun.ares.studio.jres.ui.projectproperty.ProjectExtensibleModelPage">
       </pageItem>       
   <pageItem
         class="com.hundsun.ares.studio.ui.editor.blocks.ExtensibledModulePropertyPage"
         editor_id="com.hundsun.ares.studio.ui.editor.moduleproperty"
         name="扩展属性"
         order="700"
         pageid="ExtensibledModulePropertyPage">
   </pageItem>
       <pageItem
            class="com.hundsun.ares.studio.ui.editor.blocks.ModuleRevisionHistoryPage"
            editor_id="com.hundsun.ares.studio.ui.editor.moduleproperty"
            name="修订记录"
            order="800"
            pageid="module_rev_his">
      </pageItem>
      <pageItem
            class="com.hundsun.ares.studio.ui.editor.blocks.ProjectRevisionHistoryPage"
            editor_id="com.hundsun.ares.studio.ui.editor.projecteditor"
            name="修订记录"
            order="1000"
            pageid="project_rev_his">
      </pageItem>   
      <pageItem
         class="com.hundsun.ares.studio.ui.editor.blocks.RevisionHistoryOverviewPage"
         editor_id="com.hundsun.ares.studio.ui.editor.moduleproperty"
         name="修订记录汇总"
         order="1100"
         pageid="RevisionHistoryTotlePage">
   	  </pageItem>
      <pageItem
            class="com.hundsun.ares.studio.ui.editor.blocks.RevisionHistoryOverviewPageByRoot"
            editor_id="com.hundsun.ares.studio.ui.editor.rootpropertyeditor"
            name="修订记录汇总"
            order="1100"
            pageid="RevisionHistoryTotlePage">
      </pageItem>
</extension>

   <extension
         point="com.hundsun.ares.studio.core.ares_extend_model_serializer">
                <serializer
             class="com.hundsun.ares.studio.jres.modelconvert.EMFExtendModelConverter"
             key="ModuleExtensibleModel"
             targetClassName="com.hundsun.ares.studio.core.model.ModuleProperty">
       </serializer>
      <serializer
            class="com.hundsun.ares.studio.jres.modelconvert.EMFExtendModelConverter"
            key="ProjectExtensibleModel"
            targetClassName="com.hundsun.ares.studio.internal.core.ARESProjectProperty">
      </serializer>
       <serializer
             class="com.hundsun.ares.studio.jres.modelconvert.EMFExtendModelConverter"
             key="ExtensibleModelConfigProperty"
             targetClassName="com.hundsun.ares.studio.internal.core.ARESProjectProperty">
       </serializer>
   </extension>
   <extension
         point="com.hundsun.ares.studio.core.extendPropertyProvider">
      <provider
            class="com.hundsun.ares.studio.ui.editor.extend.OldExtendPropertyProvider"
            id="oldExtendedPropertyProvider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.hundsun.ares.studio.ui.editor.command.comment"
            name="注释">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.hundsun.ares.studio.ui.editor.command.comment"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+/">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.hundsun.ares.studio.ui.editor.batch"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.hundsun.ares.studio.ui.editor.actions.BatchAddModifyLogAction"
               enablesFor="1"
               id="com.hundsun.ares.studio.ui.editor.batchaddhistory"
               label="批量添加修改记录"
               menubarPath="com.hundsun.ares.studio.ui.editor.batchmenu/BatchModify"
               state="true"
               style="push">
         </action>
         <visibility>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
               <objectState
                     name="projectNature"
                     value="com.hundsun.ares.studio.core.aresnature">
               </objectState>
            </and>
         </visibility>
         <menu
               id="com.hundsun.ares.studio.ui.editor.batchmenu"
               label="批量处理">
            <separator
                  name="BatchModify">
            </separator>
         </menu>
      </objectContribution>
   </extension>
   <extension
         point="com.hundsun.ares.studio.ui.editor.user_extended_property_type_provider">
      <provider
            class="com.hundsun.ares.studio.ui.editor.extend.user.ReferenceUserExtendedPropertyTypeProvider"
            id="reference">
      </provider>
   </extension>
</plugin>
