<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="com.hundsun.ares.studio.ui.editor.ExtensibleModelEditingSupports">
       <ExtensibleModelEditingSupport
            class="com.hundsun.ares.studio.jres.clearinghouse.support.CHouseTableBaseEditingSupport"
            eclass="TableResourceData"
            id="com.hundsun.ares.studio.jres.database.oracle.ui.chouse.base"
            order="104"
            uri="http://www.hundsun.com/ares/studio/jres/database/1.0.0">
      </ExtensibleModelEditingSupport>
      <ExtensibleModelEditingSupport
            class="com.hundsun.ares.studio.jres.clearinghouse.support.ClearingHouseSpaceEditingSupport"
            eclass="TableSpaceRelation"
            id="com.hundsun.ares.studio.jres.database.oracle.ui.chouse.space"
            order="101"
            uri="http://www.hundsun.com/ares/studio/jres/database/oracle/1.0.0">
      </ExtensibleModelEditingSupport>
      <ExtensibleModelEditingSupport
            class="com.hundsun.ares.studio.jres.clearinghouse.support.TableSpaceRelationEditingSupport"
            eclass="TableSpaceRelation"
            id="com.hundsun.ares.studio.jres.database.biz.ui.space.relation"
            order="100"
            uri="http://www.hundsun.com/ares/studio/jres/database/oracle/1.0.0">
      </ExtensibleModelEditingSupport>
      <ExtensibleModelEditingSupport
            class="com.hundsun.ares.studio.jres.clearinghouse.support.RevisionHistoryEditingSupport"
            eclass="RevisionHistory"
            id="com.hundsun.ares.studio.jres.database.biz.stock.ui.history"
            order="100"
            uri="http://www.hundsun.com/ares/studio/core/1.0.0">
      </ExtensibleModelEditingSupport>
      <ExtensibleModelEditingSupport
            class="com.hundsun.ares.studio.jres.clearinghouse.support.CHouseViewBaseEditingSupport"
            eclass="ViewResourceData"
            id="com.hundsun.ares.studio.jres.database.oracle.ui.chouse.base.view"
            order="105"
            uri="http://www.hundsun.com/ares/studio/jres/database/1.0.0">
      </ExtensibleModelEditingSupport>
      </extension>
 <extension
       point="com.hundsun.ares.studio.ui.editor.BlockDecorators">
    <decorator
          blockId="com.hundsun.ares.studio.jres.ui.block.RevisionHistoryListViewerBlock"
          class="com.hundsun.ares.studio.jres.clearinghouse.TableHistoryColumnViewerBlockDecorator"
          id="com.hundsun.ares.studio.jres.biz.stock.ui.table.history.block">
    </decorator>
 </extension>
 <extension
       point="org.eclipse.emf.transaction.listeners">
    <listener
          class="com.hundsun.ares.studio.jres.clearinghouse.SVNRevisionAutoReplacer">
    </listener>
    <listener
          class="com.hundsun.ares.studio.jres.clearinghouse.RevisionHistoryVersionStepper">
    </listener>
 </extension>
 	<!-- 不再向总工具栏添加表修改向导的按钮 !-->
    <!--extension
         point="com.hundsun.ares.studio.ui.editor.ContributorDecorator">
      <decorator
            class="com.hundsun.ares.studio.jres.clearinghouse.ui.action.ActionBarContributorDecorator"
            editorId="com.hundsun.ares.studio.jres11.database.ui.tableeditor"
            id="com.hundsun.ares.studio.jres.database.stock3.ui.decorator">
      </decorator>
   </extension-->
    <extension
          point="com.hundsun.ares.studio.ui.editor.ares_page">
       <pageItem
             class="com.hundsun.ares.studio.jres.clearinghouse.ui.page.HidenExtendedPage"
             editor_id="com.hundsun.ares.studio.jres11.database.ui.tableeditor"
             hidden="true">
       </pageItem>
    </extension>
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated chouse -->
      <factory
            uri="http://www.hundsun.com/ares/studio/jres/database/chouse/1.0.0"
            class="com.hundsun.ares.studio.jres.model.chouse.provider.ChouseItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

</plugin>
