<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="ReferenceInfoProviders" name="ReferenceInfoProviders" schema="schema/ReferenceInfoProviders.exsd"/>
   <extension-point id="RelationInfoProviders" name="RelationInfoProviders" schema="schema/RelationInfoProviders.exsd"/>
   <extension-point id="ReferenceTypes" name="ReferenceTypes" schema="schema/ReferenceTypes.exsd"/>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.hundsun.com/ares/studio/jres/reference/1.0.0"
            class="com.hundsun.ares.studio.model.reference.provider.ReferenceItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.hundsun.com/ares/studio/jres/reference/1.0.0"
            class="com.hundsun.ares.studio.model.reference.ReferencePackage"
            genModel="model/reference.genmodel"/>
   </extension>

</plugin>
