<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.hundsun.ares.studio.procedure.ui.editor.ProcedureEditor"
            contributorClass="com.hundsun.ares.studio.ui.editor.EMFFormActionBarContributor"
            default="true"
            extensions="procedure"
            icon="icons/procedure.gif"
            id="com.hundsun.ares.studio.procedure.ui.editor.procedure"
            name="过程">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.hundsun.ares.studio.ui.category"
            class="com.hundsun.ares.studio.procedure.ui.wizard.NewProcedureWizard"
            icon="icons/procedure.gif"
            id="com.hundsun.ares.studio.procedure.ui.procedure.wizard"
            name="过程"
            project="false">
      </wizard>
   </extension>
   <extension
         point="com.hundsun.ares.studio.cres.ui.genmodulecode">
      <GenModuelCode
            class="com.hundsun.ares.studio.procedure.ui.module.code.GenProcedureModuleCode"
            id="gcom.hundsun.ares.studio.procedure.ui.module.code.GenProcedureModuleCode"
            type="procedure">
      </GenModuelCode>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="com.hundsun.ares.studio.jres.ui.resource"
            type="new"
            wizardId="com.hundsun.ares.studio.procedure.ui.procedure.wizard">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="com.hundsun.ares.studio.core.IARESModule">
                  </instanceof>
                  <test
                        args="procedure"
                        property="com.hundsun.ares.studio.core.isResTypeAllowed"
                        value="true">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="com.hundsun.ares.studio.ui.ARESResourceCategory">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="com.hundsun.ares.studio.ui.type"
                        value="com.hundsun.ares.studio.procedure.resources.category.procedure">
                  </test>
               </and>
            </or>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.hundsun.ares.studio.ui.page"
            class="com.hundsun.ares.studio.procedure.ui.ProdcedurePreferencePage"
            id="com.hundsun.ares.studio.procedure.ui.page"
            name="过程">
      </page>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated procedure -->
      <factory
            uri="http://www.hundsun.com/ares/studio/procedure/1.0.0"
            class="com.hundsun.ares.studio.procdure.provider.ProcdureItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   <extension
         point="com.hundsun.ares.studio.ui.editor.ExtensibleModelEditingSupports">
      <ExtensibleModelEditingSupport
            class="com.hundsun.ares.studio.procedure.ui.extend.ProcedureIDExtendEditingSupport"
            eclass="IDRangeItem"
            id="com.hundsun.ares.studio.procedure.ui.idrange"
            order="301"
            uri="http://www.hundsun.com/ares/studio/jres/metadata/1.0.0">
      </ExtensibleModelEditingSupport>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.hundsun.ares.studio.import.category"
            class="com.hundsun.ares.studio.procedure.ui.wizard.ImportProcedureWizard"
            icon="icons/full/excel.png"
            id="com.hundsun.ares.studio.procedure.ui.import"
            name="导入存储过程">
      </wizard>
   </extension>
   <extension
         point="com.hundsun.ares.studio.ui.editor.project_property_extensionfield_editor">
      <fieldEditor
            class="com.hundsun.ares.studio.procedure.ui.extend.ProcedureRegHSObjectDirEditor"
            id="com.hundsun.ares.studio.procedure.ui.reghsobjdir"
            order="10">
      </fieldEditor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.hundsun.ares.studio.cres.ui.gencresmodulecode"
            objectClass="com.hundsun.ares.studio.core.IARESModule">
         <action
               class="com.hundsun.ares.studio.procedure.ui.action.GenModuleCodehAction"
               icon="icons/module_pro.gif"
               id="com.hundsun.ares.studio.procedure.ui.action.genmodulecode"
               label="模块代码生成"
               menubarPath="com.hundsun.ares.studio.cres.ui.menu.genmodule/genmodule"
               overrideActionId="com.hundsun.ares.studio.cres.ui.action.genmodulecode"
               state="true"
               style="push">
         </action>
         <visibility>
            <and>
               <objectState
                     name="rootType"
                     value="com.hundsun.ares.studio.procedure.resources.procedure">
               </objectState>
            </and>
         </visibility>
      </objectContribution>
   </extension>
 <extension
               point="com.hundsun.ares.studio.ui.areasearch">
            <searcher
                  class="com.hundsun.ares.studio.procedure.ui.search.ProcedureSearcher"
                  id="com.hundsun.ares.studio.procedure.ui.search"
                  items="对象号,英文名,中文名,伪代码,输入输出和内部变量"
                  order="5"
                  resTypes="过程">
            </searcher>
         </extension>
          <extension
            point="org.eclipse.ltk.core.refactoring.renameParticipants">
         <renameParticipant
               class="com.hundsun.ares.studio.procedure.ui.refactor.ProcedureRenamePaticipant"
               id="com.hundsun.ares.studio.procedure.ui.refactor.renameParticipant"
               name="ResourceInProcedure">
            <enablement>
               <with
                     variable="element">
                  <or>
                     <and>
                        <instanceof
                              value="com.hundsun.ares.studio.core.IARESResource">
                        </instanceof>
                        <or>
                           <test
                                 forcePluginActivation="true"
                                 property="com.hundsun.ares.studio.core.type"
                                 value="object">
                           </test>
                        </or>
                     </and>
                     <instanceof
                           value="com.hundsun.ares.studio.core.IARESModule">
                     </instanceof>
                  </or>
               </with>
            </enablement>
         </renameParticipant>
         <renameParticipant
               class="com.hundsun.ares.studio.procedure.ui.refactor.ProcedureStdObjRenamePaticipant"
               id="com.hundsun.ares.studio.procedure.ui.refactor.stdobjrenameparicipant"
               name="StdObjListRename">
            <enablement>
               <with
                     variable="element">
                  <or>
                     <and>
                        <instanceof
                              value="com.hundsun.ares.studio.jres.metadata.ui.refactor.MetadataItemAndAresResourceModel">
                        </instanceof>
                     </and>
                  </or>
               </with>
            </enablement>
         </renameParticipant>
      </extension>
       <extension
            point="org.eclipse.ltk.core.refactoring.moveParticipants">
         <moveParticipant
               class="com.hundsun.ares.studio.procedure.ui.refactor.ProcedureMoveParticipant"
               id="com.hundsun.ares.studio.procedure.ui.refactor.moveParticipant"
               name="ServiceMoveParticipant">
            <enablement>
               <with
                     variable="element">
                  <or>
                     <and>
                        <instanceof
                              value="com.hundsun.ares.studio.core.IARESResource">
                        </instanceof>
                        <or>
                           <test
                                 forcePluginActivation="true"
                                 property="com.hundsun.ares.studio.core.type"
                                 value="object">
                           </test>
                        </or>
                     </and>
                     <instanceof
                           value="com.hundsun.ares.studio.core.IARESModule">
                     </instanceof>
                  </or>
               </with>
            </enablement>
         </moveParticipant>
      </extension>
</plugin>
