<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="com.hundsun.ares.studio.core.moduleRoot">
      <root
            deletable="true"
            icon="icons/jres业务逻辑.gif"
            id="com.hundsun.ares.studio.jres.moduleroot.business"
            name="业务逻辑"
            order="300"
            useDefaultModule="false">
      </root>
      <root
            deletable="true"
            icon="icons/jres业务逻辑.gif"
            id="com.hundsun.ares.studio.biz.core.root"
            name="业务逻辑"
            order="301"
            useDefaultModule="false"
            useProperty="false">
      </root>
   </extension>
   <extension
         point="com.hundsun.ares.studio.core.aresResource">
      <aresResource
            category="com.hundsun.ares.studio.jres.category.service"
            converter="com.hundsun.ares.studio.jres.modelconvert.EMFModelConverter"
            copyable="true"
            deleteable="true"
            icon="icons/Service.gif"
            id="service"
            info-class="com.hundsun.ares.studio.jres.service.impl.ServiceImpl"
            moveable="true"
            name="服务"
            renameable="true">
      </aresResource>
      <resCategory
            id="com.hundsun.ares.studio.jres.category.service"
            name="服务"
            order="100">
      </resCategory>
   </extension>
      <extension
            point="com.hundsun.ares.studio.core.rootToResTypeMaps">
         <map
               resTypes="service"
               rootType="com.hundsun.ares.studio.jres.moduleroot.business">
         </map>
         <map
               resTypes="service"
               rootType="com.hundsun.ares.studio.biz.core.root">
         </map>
      </extension>
      <extension
            point="com.hundsun.ares.studio.reference.ReferenceInfoProviders">
         <ReferenceInfoProvider
               class="com.hundsun.ares.studio.biz.reference.BizReferenceInfoProvider"
               id="service"
               type="service">
         </ReferenceInfoProvider>
      </extension>
      <extension
            point="com.hundsun.ares.studio.reference.ReferenceTypes">
         <ReferenceType
               id="jres.biz.service"
               resType="service">
         </ReferenceType>
      </extension>
      <extension
            point="com.hundsun.ares.studio.reference.RelationInfoProviders">
         <RelationInfoProvider
               class="com.hundsun.ares.studio.jres.service.resource.ServiceJRESRelationInfoProvider"
               id="service"
               type="service">
         </RelationInfoProvider>
      </extension>
</plugin>
