<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.hundsun.ares.studio.reference.ReferenceInfoProviders">
      <ReferenceInfoProvider
            class="com.hundsun.ares.studio.procedure.resource.provider.ProcedureReferenceInfoProvider"
            id="proresource"
            type="procedure">
      </ReferenceInfoProvider>
   </extension>
   <extension
         point="com.hundsun.ares.studio.reference.ReferenceTypes">
      <ReferenceType
            id="procedure"
            resType="procedure">
      </ReferenceType>
      <ReferenceType
            id="procedure.cname"
            resType="procedure">
      </ReferenceType>
   </extension>
   <extension
         point="com.hundsun.ares.studio.core.moduleRoot">
      <root
            deletable="true"
            id="com.hundsun.ares.studio.procedure.resources.procedure"
            name="存储过程"
            order="302"
            renameable="false"
            useDefaultModule="false"
            useProperty="false">
      </root>
   </extension>
   <extension
         point="com.hundsun.ares.studio.core.aresResource">
      <aresResource
            category="com.hundsun.ares.studio.procedure.resources.category.procedure"
            converter="com.hundsun.ares.studio.jres.modelconvert.EMFModelConverter"
            copyable="true"
            deleteable="true"
            icon="icons/procedure.gif"
            id="procedure"
            info-class="com.hundsun.ares.studio.procdure.impl.ProcedureImpl"
            moveable="true"
            name="过程"
            order="300"
            renameable="true">
      </aresResource>
      <resCategory
            id="com.hundsun.ares.studio.procedure.resources.category.procedure"
            name="过程"
            order="300">
      </resCategory>
   </extension>
   <extension
         point="com.hundsun.ares.studio.core.rootToResTypeMaps">
      <map
            resTypes="procedure"
            rootType="com.hundsun.ares.studio.procedure.resources.procedure">
      </map>
   </extension>
  <extension
         point="com.hundsun.ares.studio.reference.RelationInfoProviders">
      <RelationInfoProvider
            class="com.hundsun.ares.studio.procedure.resource.provider.ProcedureRelationInfoProvider"
            id="procedure"
            type="procedure">
      </RelationInfoProvider>
  </extension>
     <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
             adaptable="false"
             id="com.hundsun.ares.studio.jres.database.oracle.ui.objectContribution1"
             objectClass="com.hundsun.ares.studio.core.IARESModuleRoot">
          <action
                class="com.hundsun.ares.studio.ui.editor.blocks.OpenResourceAction"
                id="com.hundsun.ares.studio.ui.openresourceeditor"
                label="打开资源列表">
          </action>
          <visibility>
             <or>
                <objectState
                      name="rootType"
                      value="com.hundsun.ares.studio.procedure.resources.procedure">
                </objectState></or></visibility>
       </objectContribution>
       <objectContribution
             adaptable="false"
             id="com.hundsun.ares.studio.jres.database.oracle.ui.objectContribution2"
             objectClass="com.hundsun.ares.studio.core.IARESModule">
          <action
                class="com.hundsun.ares.studio.ui.editor.blocks.OpenResourceAction"
                id="com.hundsun.ares.studio.ui.openresourceeditor1ui.action2"
                label="打开资源列表">
          </action>
          <visibility>
             <or>
                <objectState
                      name="rootType"
                      value="com.hundsun.ares.studio.procedure.resources.procedure">
                </objectState></or>
          </visibility>
       </objectContribution>
   </extension>
</plugin>
