<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="com.hundsun.ares.studio.aresnature.ui.actions.respath">
            </actionExtension></includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="com.hundsun.ares.studio.aresnature.ui.ResPathCommonActionProvider"
            id="com.hundsun.ares.studio.aresnature.ui.actions.respath">
         <enablement>
            <or>
               <and>
                  <or>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.core.resources.IProject">
                     </instanceof>
                  </or>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.projectNature"
                        value="com.hundsun.ares.studio.core.aresnature">
                  </test>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.projectNature"
                           value="com.hundsun.ares.studio.core.refnature">
                     </test>
                  </not>
               </and>
               <instanceof
                     value="com.hundsun.ares.studio.ui.RefLibContainer">
               </instanceof>
               <instanceof
                     value="com.hundsun.ares.studio.core.IReferencedLibrary">
               </instanceof>
               <instanceof
                     value="com.hundsun.ares.studio.ui.RefLibContainer$RequiredProject">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
      <commonWizard
            menuGroupId="com.hundsun.ares.studio.jres.ui.resource"
            type="new"
            wizardId="com.hundsun.ares.studio.ui.wizard.temmplateproject">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.hundsun.ares.studio.export.category"
            class="com.hundsun.ares.studio.aresnature.ui.MinCoreRefLibExportWizard"
            id="com.hundsun.ares.studio.aresnature.ui.exportlibwizard"
            name="引用资源包">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.hundsun.ares.studio.ui.category"
            class="com.hundsun.ares.studio.ui.wizard.NewTemplateProjectWizard"
            icon="icons/full/obj16/aresproject.gif"
            id="com.hundsun.ares.studio.ui.wizard.temmplateproject"
            name="ARES项目">
      </wizard>
   </extension>

</plugin>
