<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.hundsun.ares.studio.engin.skeletonfactory">
      <SkeletonFactory
            class="com.hundsun.ares.studio.logic.compiler.skeleton.LogicServiceSkeletonFactory"
            id="com.hundsun.ares.studio.logic.compiler.SkeletonFactory.logic.service"
            type="logic.service">
      </SkeletonFactory>
      <SkeletonFactory
            class="com.hundsun.ares.studio.logic.compiler.skeleton.LogicFunctionSkeletonFactory"
            id="com.hundsun.ares.studio.logic.compiler.SkeletonFactory.logic.function"
            type="logic.function">
      </SkeletonFactory>
   </extension>

</plugin>
