<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!--extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.hundsun.com/ares/studio/cres/atom/1.0.0"
            class="com.hundsun.ares.studio.atom.provider.AtomItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension-->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.hundsun.ares.studio.atom.ui.editor.AtomFunctionEditor"
            contributorClass="com.hundsun.ares.studio.ui.editor.EMFFormActionBarContributor"
            default="true"
            extensions="atomfunction"
            icon="icons/function.gif"
            id="com.hundsun.ares.studio.atom.ui.editor.atomfunction"
            name="原子函数">
      </editor>
      <editor
            class="com.hundsun.ares.studio.atom.ui.editor.AtomServiceEditor"
            contributorClass="com.hundsun.ares.studio.ui.editor.EMFFormActionBarContributor"
            default="true"
            extensions="atomservice"
            icon="icons/service.gif"
            id="com.hundsun.ares.studio.atom.ui.editor.atomservice"
            name="原子服务">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.hundsun.ares.studio.ui.categoryndsun.ares.studio.jres.category"
            class="com.hundsun.ares.studio.atom.ui.wizard.atomfunction.NewAtomFunctionWizard"
            icon="icons/function.gif"
            id="com.hundsun.ares.studio.atom.ui.atomfunction.wizard"
            name="原子函数"
            project="false">
      </wizard>
      <wizard
            category="com.hundsun.ares.studio.ui.category"
            class="com.hundsun.ares.studio.atom.ui.wizard.atomservice.NewAtomServiceWizard"
            icon="icons/service.gif"
            id="com.hundsun.ares.studio.atom.ui.wizard.atomservice"
            name="原子服务"
            project="false">
      </wizard>
   </extension>
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated atom -->
      <factory
            uri="http://www.hundsun.com/ares/studio/cres/atom/1.0.0"
            class="com.hundsun.ares.studio.atom.provider.AtomItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   <extension
         point="com.hundsun.ares.studio.cres.ui.genmodulecode">
      <GenModuelCode
            class="com.hundsun.ares.studio.atom.ui.GenAtomModuleCode"
            id="com.hundsun.ares.studio.atom.ui.GenModuelCode"
            type="atom">
      </GenModuelCode>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="com.hundsun.ares.studio.jres.ui.resource"
            type="new"
            wizardId="com.hundsun.ares.studio.atom.ui.atomfunction.wizard">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="com.hundsun.ares.studio.core.IARESModule">
                  </instanceof>
                  <test
                        args="atomfunction"
                        property="com.hundsun.ares.studio.core.isResTypeAllowed"
                        value="true">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="com.hundsun.ares.studio.ui.ARESResourceCategory">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="com.hundsun.ares.studio.ui.type"
                        value="com.hundsun.ares.studio.atom.resources.category.af">
                  </test>
               </and>
            </or>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="com.hundsun.ares.studio.jres.ui.resource"
            type="new"
            wizardId="com.hundsun.ares.studio.atom.ui.wizard.atomservice">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="com.hundsun.ares.studio.core.IARESModule">
                  </instanceof>
                  <test
                        args="atomservice"
                        property="com.hundsun.ares.studio.core.isResTypeAllowed"
                        value="true">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="com.hundsun.ares.studio.ui.ARESResourceCategory">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="com.hundsun.ares.studio.ui.type"
                        value="com.hundsun.ares.studio.atom.resources.category.as">
                  </test>
               </and>
            </or>
         </enablement>
      </commonWizard>
   </extension>
<extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
             adaptable="false"
             id="com.hundsun.ares.studio.jres.database.oracle.ui.objectContribution1"
             objectClass="com.hundsun.ares.studio.core.IARESModuleRoot">
          <action
                class="com.hundsun.ares.studio.ui.editor.blocks.OpenResourceAction"
                id="com.hundsun.ares.studio.ui.openresourceeditor"
                label="打开资源列表">
          </action>
          <visibility>
             <or>
                <objectState
                      name="rootType"
                      value="com.hundsun.ares.studio.atom.resources.atomroot">
                </objectState></or></visibility>
       </objectContribution>
       <objectContribution
             adaptable="false"
             id="com.hundsun.ares.studio.jres.database.oracle.ui.objectContribution2"
             objectClass="com.hundsun.ares.studio.core.IARESModule">
          <action
                class="com.hundsun.ares.studio.ui.editor.blocks.OpenResourceAction"
                id="com.hundsun.ares.studio.ui.openresourceeditor1ui.action2"
                label="打开资源列表">
          </action>
          <visibility>
             <or>
                <objectState
                      name="rootType"
                      value="com.hundsun.ares.studio.atom.resources.atomroot">
                </objectState></or>
          </visibility>
       </objectContribution>
   </extension>
<extension
      point="com.hundsun.ares.studio.ui.editor.ares_page">
   <pageItem
         class="com.hundsun.ares.studio.atom.ui.module.CresModulePropertyPage"
         editor_id="com.hundsun.ares.studio.ui.editor.moduleproperty"
         name="CRES模块属性"
         order="100"
         pageid="com.hundsun.ares.studio.cres.extend.ui.module.moduleproperty">
   </pageItem>
</extension>
<extension
      point="com.hundsun.ares.studio.core.ares_extend_model_serializer">
   <serializer
         class="com.hundsun.ares.studio.jres.modelconvert.EMFExtendModelConverter"
         key="CresModuleExtendProperty"
         targetClassName="com.hundsun.ares.studio.core.model.ModuleProperty">
   </serializer>
</extension>
 <extension
               point="com.hundsun.ares.studio.ui.areasearch">
            <searcher
                  class="com.hundsun.ares.studio.atom.search.AtomSearcher"
                  id="com.hundsun.ares.studio.atom.search1"
                  items="对象号,英文名,中文名,伪代码,输入输出和内部变量"
                  order="6"
                  resTypes="CRES原子函数">
            </searcher>
 </extension>
 <extension
               point="com.hundsun.ares.studio.ui.areasearch">
            <searcher
                  class="com.hundsun.ares.studio.atom.search.AtomSearcher"
                  id="com.hundsun.ares.studio.atom.search2"
                  items="对象号,英文名,中文名,伪代码,输入输出和内部变量"
                  order="7"
                  resTypes="CRES原子服务">
            </searcher>
 </extension>
 
 <extension
            point="org.eclipse.ltk.core.refactoring.renameParticipants">
         <renameParticipant
               class="com.hundsun.ares.studio.atom.ui.refactor.AtomRenamePaticipant"
               id="com.hundsun.ares.studio.atom.ui.refactor.renameParticipant"
               name="ResourceInatom">
            <enablement>
               <with
                     variable="element">
                  <or>
                     <and>
                        <instanceof
                              value="com.hundsun.ares.studio.core.IARESResource">
                        </instanceof>
                        <or>
                           <test
                                 forcePluginActivation="true"
                                 property="com.hundsun.ares.studio.core.type"
                                 value="object">
                           </test>
                        </or>
                     </and>
                     <instanceof
                           value="com.hundsun.ares.studio.core.IARESModule">
                     </instanceof>
                  </or>
               </with>
            </enablement>
         </renameParticipant>
         <renameParticipant
               class="com.hundsun.ares.studio.atom.ui.refactor.AtomStdObjRenamePaticipant"
               id="com.hundsun.ares.studio.atom.ui.refactor.stdobjrenameparicipant"
               name="StdObjListRename">
            <enablement>
               <with
                     variable="element">
                  <or>
                     <and>
                        <instanceof
                              value="com.hundsun.ares.studio.jres.metadata.ui.refactor.MetadataItemAndAresResourceModel">
                        </instanceof>
                     </and>
                  </or>
               </with>
            </enablement>
         </renameParticipant>
      </extension>
       <extension
            point="org.eclipse.ltk.core.refactoring.moveParticipants">
         <moveParticipant
               class="com.hundsun.ares.studio.atom.ui.refactor.AtomMoveParticipant"
               id="com.hundsun.ares.studio.atom.ui.refactor.moveParticipant"
               name="ServiceMoveParticipant">
            <enablement>
               <with
                     variable="element">
                  <or>
                     <and>
                        <instanceof
                              value="com.hundsun.ares.studio.core.IARESResource">
                        </instanceof>
                        <or>
                           <test
                                 forcePluginActivation="true"
                                 property="com.hundsun.ares.studio.core.type"
                                 value="object">
                           </test>
                        </or>
                     </and>
                     <instanceof
                           value="com.hundsun.ares.studio.core.IARESModule">
                     </instanceof>
                  </or>
               </with>
            </enablement>
         </moveParticipant>
         </extension>
</plugin>
