<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.hundsun.ares.studio.logic.ui.editor.LogicServiceEditor"
            contributorClass="com.hundsun.ares.studio.ui.editor.EMFFormActionBarContributor"
            default="false"
            extensions="logicservice"
            icon="icons/service.gif"
            id="com.hundsun.ares.studio.logic.ui.editorlogicservice"
            name="逻辑服务"
            symbolicFontName="100">
      </editor>
      <editor
            class="com.hundsun.ares.studio.logic.ui.editor.LogicFunctionEditor"
            contributorClass="com.hundsun.ares.studio.ui.editor.EMFFormActionBarContributor"
            default="false"
            extensions="logicfunction"
            icon="icons/function.gif"
            id="com.hundsun.ares.studio.logic.ui.editorlogicfunction"
            name="逻辑函数"
            symbolicFontName="200">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.hundsun.ares.studio.ui.category"
            class="com.hundsun.ares.studio.logic.ui.wizard.NewLogicServiceWizard"
            icon="icons/service.gif"
            id="com.hundsun.ares.studio.logic.ui.wizard.newlogicservice"
            name="逻辑服务"
            project="false">
      </wizard>
      <wizard
            category="com.hundsun.ares.studio.ui.category"
            class="com.hundsun.ares.studio.logic.ui.wizard.NewLogicFunctionWizard"
            icon="icons/function.gif"
            id="com.hundsun.ares.studio.logic.ui.wizard.newlogicfunction"
            name="逻辑函数"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.hundsun.ares.studio.import.category"
            class="com.hundsun.ares.studio.logic.ui.wizard.ImportLogicWizard"
            icon="icons/full/obj16/logicwizard.gif"
            id="com.hundsun.ares.studio.logic.ui.import"
            name="导入业务逻辑">
      </wizard>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated logic -->
      <factory
            uri="http://www.hundsun.com/ares/studio/cres/logic/1.0.0"
            class="com.hundsun.ares.studio.logic.provider.LogicItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   <extension
         point="com.hundsun.ares.studio.cres.ui.genmodulecode">
      <GenModuelCode
            class="com.hundsun.ares.studio.logic.ui.GenLogicModuleCode"
            id="com.hundsun.ares.studio.logic.ui.GenModuelCode"
            type="com.hundsun.ares.studio.logic.ui.GenModuelCode">
      </GenModuelCode>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="com.hundsun.ares.studio.jres.ui.resource"
            type="new"
            wizardId="com.hundsun.ares.studio.logic.ui.wizard.newlogicfunction">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="com.hundsun.ares.studio.core.IARESModule">
                  </instanceof>
                  <test
                        args="logicfunction"
                        property="com.hundsun.ares.studio.core.isResTypeAllowed"
                        value="true">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="com.hundsun.ares.studio.ui.ARESResourceCategory">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="com.hundsun.ares.studio.ui.type"
                        value="com.hundsun.ares.studio.logic.resource.category.lf">
                  </test>
               </and>
            </or>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="com.hundsun.ares.studio.jres.ui.resource"
            type="new"
            wizardId="com.hundsun.ares.studio.logic.ui.wizard.newlogicservice">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="com.hundsun.ares.studio.core.IARESModule">
                  </instanceof>
                  <test
                        args="logicservice"
                        property="com.hundsun.ares.studio.core.isResTypeAllowed"
                        value="true">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="com.hundsun.ares.studio.ui.ARESResourceCategory">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="com.hundsun.ares.studio.ui.type"
                        value="com.hundsun.ares.studio.logic.resource.category.ls">
                  </test>
               </and>
            </or>
         </enablement>
      </commonWizard>
   </extension>
	 <extension
         point="com.hundsun.ares.studio.ui.editor.ExtensibleModelEditingSupports">
      <ExtensibleModelEditingSupport
            class="com.hundsun.ares.studio.logic.ui.extend.FunctionIDExtendEditingSupport"
            eclass="IDRangeItem"
            id="com.hundsun.ares.studio.logic.ui.funcidrange"
            order="201"
            uri="http://www.hundsun.com/ares/studio/jres/metadata/1.0.0">
      </ExtensibleModelEditingSupport>
      <ExtensibleModelEditingSupport
            class="com.hundsun.ares.studio.logic.ui.extend.ServiceIDExtendEditingSupport"
            eclass="IDRangeItem"
            id="com.hundsun.ares.studio.logic.ui.srvidrange"
            order="202"
            uri="http://www.hundsun.com/ares/studio/jres/metadata/1.0.0">
      </ExtensibleModelEditingSupport>
   </extension>
      <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
             adaptable="false"
             id="com.hundsun.ares.studio.jres.database.oracle.ui.objectContribution1"
             objectClass="com.hundsun.ares.studio.core.IARESModuleRoot">
          <action
                class="com.hundsun.ares.studio.ui.editor.blocks.OpenResourceAction"
                id="com.hundsun.ares.studio.ui.openresourceeditor"
                label="打开资源列表">
          </action>
          <visibility>
             <or>
                <objectState
                      name="rootType"
                      value="com.hundsun.ares.studio.logic.resources.logicroot">
                </objectState></or></visibility>
       </objectContribution>
       <objectContribution
             adaptable="false"
             id="com.hundsun.ares.studio.jres.database.oracle.ui.objectContribution2"
             objectClass="com.hundsun.ares.studio.core.IARESModule">
          <action
                class="com.hundsun.ares.studio.ui.editor.blocks.OpenResourceAction"
                id="com.hundsun.ares.studio.ui.openresourceeditor1ui.action2"
                label="打开资源列表">
          </action>
          <visibility>
             <or>
                <objectState
                      name="rootType"
                      value="com.hundsun.ares.studio.logic.resources.logicroot">
                </objectState></or>
          </visibility>
       </objectContribution>
   </extension>
    <extension
               point="com.hundsun.ares.studio.ui.areasearch">
            <searcher
                  class="com.hundsun.ares.studio.logic.search.LogicSearcher"
                  id="com.hundsun.ares.studio.logic.search1"
                  items="对象号,英文名,中文名,伪代码,输入输出和内部变量"
                  order="8"
                  resTypes="CRES逻辑函数">
            </searcher>
         </extension>
          <extension
               point="com.hundsun.ares.studio.ui.areasearch">
            <searcher
                  class="com.hundsun.ares.studio.logic.search.LogicSearcher"
                  id="com.hundsun.ares.studio.logic.search2"
                  items="对象号,英文名,中文名,伪代码,输入输出和内部变量"
                  order="9"
                  resTypes="CRES逻辑服务">
            </searcher>
         </extension>
         <extension
            point="org.eclipse.ltk.core.refactoring.renameParticipants">
         <renameParticipant
               class="com.hundsun.ares.studio.logic.ui.refactor.LogicRenamePaticipant"
               id="com.hundsun.ares.studio.logic.ui.refactor.renameParticipant"
               name="ResourceInLogic">
            <enablement>
               <with
                     variable="element">
                  <or>
                     <and>
                        <instanceof
                              value="com.hundsun.ares.studio.core.IARESResource">
                        </instanceof>
                        <or>
                           <test
                                 forcePluginActivation="true"
                                 property="com.hundsun.ares.studio.core.type"
                                 value="object">
                           </test>
                        </or>
                     </and>
                     <instanceof
                           value="com.hundsun.ares.studio.core.IARESModule">
                     </instanceof>
                  </or>
               </with>
            </enablement>
         </renameParticipant>
         <renameParticipant
               class="com.hundsun.ares.studio.logic.ui.refactor.LogicStdObjRenamePaticipant"
               id="com.hundsun.ares.studio.logic.ui.refactor.stdobjrenameparicipant"
               name="StdObjListRename">
            <enablement>
               <with
                     variable="element">
                  <or>
                     <and>
                        <instanceof
                              value="com.hundsun.ares.studio.jres.metadata.ui.refactor.MetadataItemAndAresResourceModel">
                        </instanceof>
                     </and>
                  </or>
               </with>
            </enablement>
         </renameParticipant>
      </extension>
       <extension
            point="org.eclipse.ltk.core.refactoring.moveParticipants">
         <moveParticipant
               class="com.hundsun.ares.studio.logic.ui.refactor.LogicMoveParticipant"
               id="com.hundsun.ares.studio.logic.ui.moveParticipant"
               name="ServiceMoveParticipant">
            <enablement>
               <with
                     variable="element">
                  <or>
                     <and>
                        <instanceof
                              value="com.hundsun.ares.studio.core.IARESResource">
                        </instanceof>
                        <or>
                           <test
                                 forcePluginActivation="true"
                                 property="com.hundsun.ares.studio.core.type"
                                 value="object">
                           </test>
                        </or>
                     </and>
                     <instanceof
                           value="com.hundsun.ares.studio.core.IARESModule">
                     </instanceof>
                  </or>
               </with>
            </enablement>
         </moveParticipant>
      </extension>
</plugin>
