<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.hundsun.ares.studio.engin.skeletonfactory">
      <SkeletonFactory
            class="com.hundsun.ares.studio.procedure.compiler.oracle.ProcedureSkeletonFactory"
            id="com.hundsun.ares.studio.procedure.compiler.SkeletonFactory.procedure.oracle"
            type="procedure.oracle">
      </SkeletonFactory>
   </extension>

</plugin>
