<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.hundsun.ares.studio.jres.basicdata.core.EpachageFactory">
      <Factory
            class="com.hundsun.ares.studio.jres.basicdata.database.factory.DataBaseEPackageFactory"
            id="jres.db.table"
            name="数据库表">
      </Factory>
   </extension>
   <extension
         point="com.hundsun.ares.studio.core.refResourcesProvider">
      <provider
            class="com.hundsun.ares.studio.jres.basicdata.database.reference.DataBaseRefResourceProvider"
            resTypes="table">
      </provider>
   </extension>

</plugin>
