<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="com.hundsun.ares.studio.model.ModelPackage"
            genModel="model/EmfExtendAble.genmodel"
            uri="http://com.hundsun.ares.studio.model">
      </package>
   </extension>

</plugin>
