<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="com.hundsun.ares.studio.jres.ui.resource"
            type="new"
            wizardId="com.hundsun.ares.studio.jres.dababase.TableWizard">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="com.hundsun.ares.studio.core.IARESModule">
                  </instanceof>
                  <test
                        args="table"
                        property="com.hundsun.ares.studio.core.isResTypeAllowed"
                        value="true">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="com.hundsun.ares.studio.ui.ARESResourceCategory">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="com.hundsun.ares.studio.ui.type"
                        value="com.hundsun.ares.studio.jres.category.database">
                  </test>
               </and>
            </or></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="com.hundsun.ares.studio.jres.ui.resource"
            type="new"
            wizardId="com.hundsun.ares.studio.jres.dababase.ViewWizard">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="com.hundsun.ares.studio.core.IARESModule">
                  </instanceof>
                  <test
                        args="view"
                        property="com.hundsun.ares.studio.core.isResTypeAllowed"
                        value="true">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="com.hundsun.ares.studio.ui.ARESResourceCategory">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="com.hundsun.ares.studio.ui.type"
                        value="com.hundsun.ares.studio.jres.category.database.view">
                  </test>
               </and>
            </or>
         </enablement>
      </commonWizard>
   </extension>
   <extension
point="org.eclipse.ui.newWizards">
<wizard
      category="com.hundsun.ares.studio.ui.category"
      class="com.hundsun.ares.studio.jres.database.ui.wizard.NewTableWizard"
      icon="icons/table.gif"
      id="com.hundsun.ares.studio.jres.dababase.TableWizard"
      name="数据库表">
</wizard>
<wizard
      category="com.hundsun.ares.studio.ui.category"
      class="com.hundsun.ares.studio.jres.database.ui.wizard.NewViewWizard"
      icon="icons/view.gif"
      id="com.hundsun.ares.studio.jres.dababase.ViewWizard"
      name="数据库视图">
</wizard>
</extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.hundsun.ares.studio.jres.database.ui.editors.DBTableEditor"
            contributorClass="com.hundsun.ares.studio.ui.editor.EMFFormActionBarContributor"
            default="false"
            extensions="table"
            icon="icons/table.gif"
            id="com.hundsun.ares.studio.jres11.database.ui.tableeditor"
            name="数据库表">
      </editor>
      <editor
            class="com.hundsun.ares.studio.jres.database.ui.editors.DBViewEditor"
            contributorClass="com.hundsun.ares.studio.ui.editor.EMFFormActionBarContributor"
            default="false"
            extensions="view"
            icon="icons/view.gif"
            id="com.hundsun.ares.studio.jres11.database.ui.vieweditor"
            name="数据库视图">
      </editor>
   </extension>
   <extension
         point="com.hundsun.ares.studio.core.ares_extend_model_serializer">
      <serializer
            class="com.hundsun.ares.studio.jres.database.resource.internal.DBProjectPropertyConverter"
            key="DBModuleCommonProperty"
            targetClassName="com.hundsun.ares.studio.internal.core.ARESProjectProperty">
      </serializer>
      <serializer
            class="com.hundsun.ares.studio.jres.database.resource.internal.DBProjectPropertyConverter"
            key="DBModuleCommonProperty"
            targetClassName="com.hundsun.ares.studio.core.BasicReferencedLibInfo">
      </serializer>
   </extension>
   <extension
         point="com.hundsun.ares.studio.ui.editor.ares_page">
      <pageItem
            class="com.hundsun.ares.studio.jres.database.ui.pages.DBModuleCommonPropertyPage"
            editor_id="com.hundsun.ares.studio.ui.editor.projecteditor"
            name="数据库配置"
            order="92"
            pageid="com.hundsun.ares.studio.jres.database.ui.pages.DBModuleCommonPropertyPage">
      </pageItem>
   </extension>
   <!--<extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.hundsun.ares.studio.jres.database.ui.resource.genSQL"
            objectClass="com.hundsun.ares.studio.core.IARESResource">
         <action
               class="com.hundsun.ares.studio.jres.database.ui.actions.GenDatabaseSQLAction"
               id="com.hundsun.ares.studio.jres.database.ui.GenFullSQLAction"
               label="生成数据库SQL脚本"
               menubarPath="com.hundsun.ares.studio.jres11.ui.resource.menu/group1">
         </action>
         <visibility>
            <and>
               <or>
                  <objectState
                        name="rootType"
                        value="com.hundsun.ares.studio.jres.moduleroot.database">
                  </objectState>
                  <objectState
                        name="rootType"
                        value="com.hundsun.ares.studio.jres.database">
                  </objectState>
               </or>
               <not>
                  <objectState
                        name="name"
                        value="module.xml">
                  </objectState>
               </not>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.hundsun.ares.studio.jres.database.ui.module.genSQL"
            objectClass="com.hundsun.ares.studio.core.IARESModule">
         <action
               class="com.hundsun.ares.studio.jres.database.ui.actions.GenDatabaseSQLAction"
               id="com.hundsun.ares.studio.jres.database.ui.GenFullSQLAction"
               label="生成数据库SQL脚本"
               menubarPath="com.hundsun.ares.studio.jres.ui.module.menu/group1">
         </action>
         <visibility>
            <or>
               <objectState
                     name="rootType"
                     value="com.hundsun.ares.studio.jres.moduleroot.database">
               </objectState>
               <objectState
                     name="rootType"
                     value="com.hundsun.ares.studio.jres.database">
               </objectState>
            </or>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.hundsun.ares.studio.jres.database.ui.moduleroot.genSQL"
            objectClass="com.hundsun.ares.studio.core.IARESModuleRoot">
         <action
               class="com.hundsun.ares.studio.jres.database.ui.actions.GenDatabaseSQLAction"
               id="com.hundsun.ares.studio.jres.database.ui.GenFullSQLAction"
               label="生成数据库SQL脚本"
               menubarPath="com.hundsun.ares.studio.jres.ui.moduleroot.menu/group1">
         </action>
         <visibility>
            <or>
               <objectState
                     name="rootType"
                     value="com.hundsun.ares.studio.jres.moduleroot.database">
               </objectState>
               <objectState
                     name="rootType"
                     value="com.hundsun.ares.studio.jres.database">
               </objectState>
            </or>
         </visibility>
      </objectContribution>
   </extension> -->
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.hundsun.ares.studio.import.category"
            class="com.hundsun.ares.studio.jres.database.ui.wizard.DBTableImportWizard"
            icon="icons/excel.png"
            id="com.hundsun.ares.studio.jres.database.ui.import.wizard"
            name="导入数据库表">
      </wizard>
         <wizard
               category="com.hundsun.ares.studio.import.category"
               class="com.hundsun.ares.studio.jres.database.ui.wizard.TableImportWizard"
               icon="icons/pdm.gif"
               id="com.hundsun.ares.studio.table.PDMImport"
               name="导入PDM">
   </wizard>
         <wizard
               category="com.hundsun.ares.studio.import.category"
               class="com.hundsun.ares.studio.jres.database.ui.wizard.StandardFieldMergeImportWizard"
               icon="icons/excel.png"
               id="com.hundsun.ares.studio.jres.database.ui.import.mergestd"
               name="导入评审记录">
         </wizard>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated database -->
      <factory
            uri="http://www.hundsun.com/ares/studio/jres/database/1.0.0"
            class="com.hundsun.ares.studio.jres.model.database.provider.DatabaseItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.hundsun.ares.studio.export.category"
            class="com.hundsun.ares.studio.jres.database.ui.wizard.DBTableExporttWizard"
            icon="icons/excel.png"
            id="com.hundsun.ares.studio.jres.database.ui.import.wizard"
            name="数据库表">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
               <objectContribution
                     adaptable="false"
                     id="com.hundsun.ares.studio.jres.ui.mergeproject"
                     objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.hundsun.ares.studio.jres.database.ui.actions.MergeProjectAction"
               id="com.hundsun.ares.studio.jres.ui.action.mergeproject"
               label="子系统合并">
         </action>
      </objectContribution>
   </extension>
  	<extension
         point="com.hundsun.ares.studio.ui.editor.project_property_extensionfield_editor">
      <fieldEditor
            class="com.hundsun.ares.studio.jres.database.ui.editors.DbScriptTableDirEditor"
            id="com.hundsun.ares.studio.jres.database.ui.tabledir"
            order="200">
      </fieldEditor>
      <fieldEditor
            class="com.hundsun.ares.studio.jres.database.ui.editors.DbScriptViewDirEditor"
            id="com.hundsun.ares.studio.jres.database.ui.viewdir"
            order="300">
      </fieldEditor>
      <fieldEditor
            class="com.hundsun.ares.studio.jres.database.ui.editors.DbScriptSequenceDirEditor"
            id="com.hundsun.ares.studio.jres.database.ui.sequencedir"
            order="400">
      </fieldEditor>
      <fieldEditor
            class="com.hundsun.ares.studio.jres.database.ui.editors.DbScriptObjectDirEditor"
            id="com.hundsun.ares.studio.jres.database.ui.objectdir"
            order="500">
      </fieldEditor>
      <fieldEditor
            class="com.hundsun.ares.studio.jres.database.ui.editors.DbScriptUserDirEditor"
            id="com.hundsun.ares.studio.jres.database.ui.userdir"
            order="600">
      </fieldEditor>
      <fieldEditor
            class="com.hundsun.ares.studio.jres.database.ui.editors.UseNonStdFieldExtensionFieldEditor"
            id="com.hundsun.ares.studio.jres.database.ui.use_non_std_filed"
            order="50">
      </fieldEditor>
   </extension>
      <extension
         point="com.hundsun.ares.studio.ui.editor.ares_page">
      <pageItem
            class="com.hundsun.ares.studio.jres.database.ui.extend.ModuleDatabasePropertyPage"
            editor_id="com.hundsun.ares.studio.ui.editor.moduleproperty"
            name="数据库属性"
            order="100"
            pageid="com.hundsun.ares.studio.jres.database.ui.extend.DatabaseModulePropertyPage">
      </pageItem>
   </extension>
   	<extension
         point="com.hundsun.ares.studio.core.ares_extend_model_serializer">
      <serializer
            class="com.hundsun.ares.studio.jres.modelconvert.EMFExtendModelConverter"
            key="DatabaseModuleExtensibleProperty"
            targetClassName="com.hundsun.ares.studio.core.model.ModuleProperty">
      </serializer>
   </extension>
    <extension
          point="com.hundsun.ares.studio.ui.editor.ExtensibleModelEditingSupports">
       <ExtensibleModelEditingSupport
             class="com.hundsun.ares.studio.jres.database.ui.extend.TableIDExtendEditingSupport"
             eclass="IDRangeItem"
             id="com.hundsun.ares.studio.jres.database.ui.tableidrange"
             order="100"
             uri="http://www.hundsun.com/ares/studio/jres/metadata/1.0.0">
       </ExtensibleModelEditingSupport>
       <ExtensibleModelEditingSupport
             class="com.hundsun.ares.studio.jres.database.ui.extend.ViewIDExtendEditingSupport"
             eclass="IDRangeItem"
             id="com.hundsun.ares.studio.jres.database.ui.viewidrange"
             order="102"
             uri="http://www.hundsun.com/ares/studio/jres/metadata/1.0.0">
       </ExtensibleModelEditingSupport>
    </extension>
         <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
             adaptable="false"
             id="com.hundsun.ares.studio.jres.database.oracle.ui.objectContribution1"
             objectClass="com.hundsun.ares.studio.core.IARESModuleRoot">
          <action
                class="com.hundsun.ares.studio.ui.editor.blocks.OpenResourceAction"
                id="com.hundsun.ares.studio.ui.openresourceeditor"
                label="打开资源列表">
          </action>
          <visibility>
             <or>
                <objectState
                      name="rootType"
                      value="com.hundsun.ares.studio.jres.moduleroot.database">
                </objectState>
                <objectState
                      name="rootType"
                      value="com.hundsun.ares.studio.jres.database">
                </objectState></or></visibility>
       </objectContribution>
       <objectContribution
             adaptable="false"
             id="com.hundsun.ares.studio.jres.database.oracle.ui.objectContribution2"
             objectClass="com.hundsun.ares.studio.core.IARESModule">
          <action
                class="com.hundsun.ares.studio.ui.editor.blocks.OpenResourceAction"
                id="com.hundsun.ares.studio.ui.openresourceeditor1ui.action2"
                label="打开资源列表">
          </action>
          <visibility>
             <or>
                <objectState
                      name="rootType"
                      value="com.hundsun.ares.studio.jres.moduleroot.database">
                </objectState>
                <objectState
                      name="rootType"
                      value="com.hundsun.ares.studio.jres.database">
                </objectState></or>
          </visibility>
       </objectContribution>
   </extension>
         <extension
               point="org.eclipse.ui.preferencePages">
            <page
                  category="com.hundsun.ares.studio.ui.page"
                  class="com.hundsun.ares.studio.jres.database.ui.pages.DatabasePreferencePage"
                  id="com.hundsun.ares.studio.database.ui.page"
                  name="数据库">
            </page>
         </extension>
         <extension
               point="com.hundsun.ares.studio.ui.areasearch">
            <searcher
                  class="com.hundsun.ares.studio.jres.database.ui.search.TableSearcher"
                  id="com.hundsun.ares.studio.jres.database.ui.tablesearch"
                  items="对象号,英文名,中文名,表字段,表索引"
                  order="1"
                  resTypes="数据库表">
            </searcher>
         </extension>
         <extension
               point="com.hundsun.ares.studio.ui.areasearch">
            <searcher
                  class="com.hundsun.ares.studio.jres.database.ui.search.ViewSearcher"
                  id="com.hundsun.ares.studio.jres.database.ui.viewsearcher"
                  items="对象号,英文名,中文名,视图SQL"
                  order="2"
                  resTypes="数据库视图">
            </searcher>
         </extension>
         <extension
               point="org.eclipse.core.runtime.preferences">
            <initializer
                  class="com.hundsun.ares.studio.jres.database.ui.pages.DatabasePrefernceInitializer">
            </initializer>
         </extension>
</plugin>
