<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.hundsun.ares.studio.ui.category"
            class="com.hundsun.ares.studio.jres.basicdata.ui.wizard.NewBasicDataWizard"
            icon="icons/full/obj16/BaiscData.png"
            id="com.hundsun.ares.studio.jres.basicdata.ui.newwizard"
            name="基础数据">
      </wizard>
      <wizard
            category="com.hundsun.ares.studio.ui.category"
            class="com.hundsun.ares.studio.jres.basicdata.ui.wizard.NewSTDModelAndDataWizard"
            icon="icons/full/obj16/metadataFolder.gif"
            id="com.hundsun.ares.studio.jres.basicdata.ui.stdmodelanddata.newwizard"
            name="基础数据">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.hundsun.ares.studio.jres.basicdata.ui.editor.SingleModelEditor"
            contributorClass="com.hundsun.ares.studio.ui.editor.EMFFormActionBarContributor"
            default="true"
            extensions="singletabledata"
            filenames="*.singletabledata"
            icon="icons/full/obj16/dictFile.png"
            id="com.hundsun.ares.studio.jres.basicdata.ui.singletableeditor"
            name="二维表编辑器">
      </editor>
      <editor
            class="com.hundsun.ares.studio.jres.basicdata.ui.editor.MasterSlaveModelEditor"
            contributorClass="com.hundsun.ares.studio.ui.editor.EMFFormActionBarContributor"
            default="true"
            extensions="masterslavetabledata"
            icon="icons/full/obj16/stdFieldFile.png"
            id="com.hundsun.ares.studio.jres.basicdata.ui.masterslaveeditor"
            name="主从表编辑器">
      </editor>
      <editor
            class="com.hundsun.ares.studio.jres.basicdata.ui.editor.EPackageEditor"
            contributorClass="com.hundsun.ares.studio.ui.editor.EMFFormActionBarContributor"
            default="true"
            filenames="epackage.epackage"
            icon="icons/full/obj16/metadataFolder.gif"
            id="com.hundsun.ares.studio.jres.basicdata.ui.epackageeditor"
            name="表关联信息编辑器">
      </editor>
      <editor
            class="com.hundsun.ares.studio.jres.basicdata.ui.editor.MasterSlaveLinkModelEditor"
            contributorClass="com.hundsun.ares.studio.ui.editor.EMFFormActionBarContributor"
            default="true"
            extensions="masterslavelinktabledata"
            icon="icons/full/obj16/stdFieldFile.png"
            id="com.hundsun.ares.studio.jres.basicdata.ui.editor3"
            name="主从信息表编辑器">
      </editor>
      <editor
            class="com.hundsun.ares.studio.jres.basicdata.ui.editor.STDModelAndDataEditor"
            contributorClass="com.hundsun.ares.studio.ui.editor.EMFFormActionBarContributor"
            default="true"
            extensions="stdmodelanddata"
            filenames="*.stdmodelanddata"
            icon="icons/full/obj16/metadataFolder.gif"
            id="com.hundsun.ares.studio.jres.basicdata.ui.stdmodelanddataeditor"
            name="公共基础数据编辑器">
      </editor>
   </extension>
   <extension
         point="com.hundsun.ares.studio.ui.editor.project_property_extensionfield_editor">
      <fieldEditor
            class="com.hundsun.ares.studio.jres.basicdata.ui.editor.BasicDataTypeFieldEditor"
            id="com.hundsun.ares.studio.jres.basicdatatype"
            order="0">
      </fieldEditor>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="com.hundsun.ares.studio.jres.ui.resource"
            type="new"
            wizardId="com.hundsun.ares.studio.jres.basicdata.ui.newwizard">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="com.hundsun.ares.studio.core.IARESModule">
                  </instanceof>
                  <test
                        args="singletabledata"
                        property="com.hundsun.ares.studio.core.isResTypeAllowed"
                        value="true">
                  </test>
               </and>
            </or></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="com.hundsun.ares.studio.jres.ui.resource"
            type="new"
            wizardId="com.hundsun.ares.studio.jres.basicdata.ui.stdmodelanddata.newwizard">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="com.hundsun.ares.studio.core.IARESModuleRoot">
                  </instanceof>
                  <test
                        args="stdmodelanddata"
                        property="com.hundsun.ares.studio.core.isResTypeAllowed"
                        value="true">
                  </test>
               </and>
            </or>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="com.hundsun.ares.studio.jres.basicdata.ui.util.BasicDataRenameParticipant"
            id="com.hundsun.ares.studio.jres.basicdata.ui.renameParticipant1"
            name="basicdata">
         <enablement>
            <instanceof
                  value="com.hundsun.ares.studio.core.IARESResource">
            </instanceof>
         </enablement>
      </renameParticipant>
      <renameParticipant
            class="com.hundsun.ares.studio.jres.basicdata.ui.util.BasicDataModuleRenameParticipant"
            id="com.hundsun.ares.studio.jres.basicdata.ui.module.renameParticipant"
            name="basicdata_module_rename">
         <enablement>
            <instanceof
                  value="com.hundsun.ares.studio.core.IARESModule">
            </instanceof>
         </enablement>
      </renameParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="com.hundsun.ares.studio.jres.basicdata.ui.util.BasicDataMoveParticipant"
            id="com.hundsun.ares.studio.jres.basicdata.ui.moveParticipant1"
            name="name">
         <enablement>
            <instanceof
                  value="com.hundsun.ares.studio.core.IARESResource">
            </instanceof>
         </enablement>
      </moveParticipant>
   </extension>
   <extension
         point="com.hundsun.ares.studio.jres.script.scriptpoxyfactory">
      <PoxyFactory
            class="com.hundsun.ares.studio.jres.basicdata.ui.scriptwrap.BasicdataScriptPoxyFactory"
            id="jres.basicdata"
            type="basicdata">
      </PoxyFactory>
   </extension>
   
      <extension
         point="com.hundsun.ares.studio.core.resValidator">
      <validator
            class="com.hundsun.ares.studio.jres.basicdata.ui.validator.BasicDataResValidator"
            id="com.hundsun.ares.studio.jres.basicdata.core.ResValidator"
            resTypes="singletabledata,masterslavetabledata,masterslavelinktabledata">
      </validator>
      <validator
            class="com.hundsun.ares.studio.jres.basicdata.ui.validator.EPackageResValidator"
            id="com.hundsun.ares.studio.jres.epackage.core.ResValidator"
            resTypes="epackage">
      </validator>
      <validator
            class="com.hundsun.ares.studio.jres.basicdata.ui.validator.StdModelAndDataResValidator"
            id="com.hundsun.ares.studio.jres.basicdata.core.stdmodelanddata.ResValidator"
            resTypes="stdmodelanddata">
      </validator>
   </extension>
   
   <!-- 废弃掉此方案，但暂时将实现保留
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="com.hundsun.ares.studio.jres.basicdata.ui.refactor.BasicDataSTDFieldRenameParticipant"
            id="com.hundsun.ares.studio.jres.basicdata.ui.renameParticipant"
            name="BasicDataSTDField">
         <enablement>
            <with
                  variable="element">
               <or>
                  <and>
                     <instanceof
                           value="com.hundsun.ares.studio.jres.metadata.ui.refactor.MetadataItemAndAresResourceModel">
                     </instanceof>
                  </and>
               </or>
            </with></enablement>
      </renameParticipant>
   </extension>
   -->

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated basicdata -->
      <factory
            uri="http://www.hundsun.com/ares/studio/jres/basicdata/1.0.0"
            class="com.hundsun.ares.studio.jres.basicdata.core.basicdata.provider.BasicdataItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.hundsun.ares.studio.import.category"
            class="com.hundsun.ares.studio.jres.basicdata.ui.wizard.ImportBasicdataExcelWizard"
            icon="icons/full/excel.png"
            id="com.hundsun.ares.studio.jres.basicdata.ui.wizard1"
            name="导入基础数据">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
             adaptable="false"
             id="com.hundsun.ares.studio.jres.database.oracle.ui.objectContribution1"
             objectClass="com.hundsun.ares.studio.core.IARESModuleRoot">
          <action
                class="com.hundsun.ares.studio.ui.editor.blocks.OpenResourceAction"
                id="com.hundsun.ares.studio.ui.openresourceeditor"
                label="打开资源列表">
          </action>
          <visibility>
             <or>
                <objectState
                      name="rootType"
                      value="com.hundsun.ares.studio.jres.moduleroot.commondata">
                </objectState></or></visibility>
       </objectContribution>
       <objectContribution
             adaptable="false"
             id="com.hundsun.ares.studio.jres.database.oracle.ui.objectContribution2"
             objectClass="com.hundsun.ares.studio.core.IARESModule">
          <action
                class="com.hundsun.ares.studio.ui.editor.blocks.OpenResourceAction"
                id="com.hundsun.ares.studio.ui.openresourceeditor1ui.action2"
                label="打开资源列表">
          </action>
          <visibility>
             <or>
                <objectState
                      name="rootType"
                      value="com.hundsun.ares.studio.jres.moduleroot.commondata">
                </objectState></or>
          </visibility>
       </objectContribution>
   </extension>
   <extension
         point="com.hundsun.ares.studio.ui.editor.project_property_extensionfield_editor">
      <fieldEditor
            class="com.hundsun.ares.studio.jres.basicdata.ui.editor.ScriptDirEditor"
            id="com.hundsun.ares.studio.jres.basicdata.ui.scriptdir"
            order="100">
      </fieldEditor>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.hundsun.ares.studio.export.category"
            class="com.hundsun.ares.studio.jres.basicdata.ui.wizard.ExportBasicdataExcelWizard"
            icon="icons/full/excel.png"
            id="com.hundsun.ares.studio.jres.basicdata.ui.wizard.exportBasicdataExcelWizard"
            name="导出基础数据">
      </wizard>
   </extension>
   <extension
         point="com.hundsun.ares.studio.ui.editor.ExtensibleModelEditingSupports">
      <ExtensibleModelEditingSupport
            class="com.hundsun.ares.studio.jres.basicdata.ui.extend.BasicDataExtensibleModelEditingSupport"
            eclass="BasicdataItem"
            id="com.hundsun.ares.studio.jres.basicdata.ui.extensibleModelEditingSupport"
            order="200"
            uri="http://www.hundsun.com/ares/studio/jres/basicdata/1.0.0">
      </ExtensibleModelEditingSupport>
   </extension>
</plugin>
