<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
      <extension
         point="com.hundsun.ares.studio.core.aresResource">
         <aresResource
            converter="com.hundsun.ares.studio.jres.basicdata.logic.util.BasicDataConventer"
            copyable="true"
            deleteable="true"
            icon="icons/full/obj16/defaultValueFile.png"
            id="singletabledata"
            info-class="com.hundsun.ares.studio.jres.basicdata.core.basicdata.impl.BasicDataBaseModelImpl"
            moveable="true"
            name="二维表"
            order="100"
            renameable="true">
      </aresResource>
      <aresResource
            converter="com.hundsun.ares.studio.jres.basicdata.logic.util.BasicDataConventer"
            copyable="true"
            deleteable="true"
            icon="icons/full/obj16/stdTypeFile.png"
            id="masterslavetabledata"
            info-class="com.hundsun.ares.studio.jres.basicdata.core.basicdata.impl.BasicDataBaseModelImpl"
            moveable="true"
            name="主从表"
            order="200"
            renameable="true">
      </aresResource>
      <aresResource
            converter="com.hundsun.ares.studio.jres.basicdata.logic.util.BasicDataConventer"
            copyable="true"
            deleteable="true"
            icon="icons/full/obj16/bizTypeFile.png"
            id="masterslavelinktabledata"
            info-class="com.hundsun.ares.studio.jres.basicdata.core.basicdata.impl.BasicDataBaseModelImpl"
            moveable="true"
            name="主从关联表"
            order="300"
            renameable="true">
      </aresResource>
      <aresResource
            converter="com.hundsun.ares.studio.jres.modelconvert.EMFModelConverter"
            copyable="false"
            deleteable="false"
            filename="epackage.epackage"
            icon="icons/full/obj16/metadataFolder.gif"
            id="epackage"
            info-class="com.hundsun.ares.studio.jres.basicdata.core.basicdata.impl.EpacakgeDefineListImpl"
            moveable="false"
            name="表关联信息"
            renameable="false">
      </aresResource>
      <aresResource
            converter="com.hundsun.ares.studio.jres.modelconvert.EMFModelConverter"
            copyable="true"
            deleteable="true"
            icon="icons/full/obj16/metadataFolder.gif"
            id="stdmodelanddata"
            info-class="com.hundsun.ares.studio.jres.basicdata.core.basicdata.impl.StandardFieldModelAndDataImpl"
            moveable="true"
            name="基础数据"
            order="900"
            renameable="true">
      </aresResource>
   </extension>
   <extension
         point="com.hundsun.ares.studio.core.rootToResTypeMaps">
               <map
            resTypes="epackage,singletabledata,masterslavetabledata,masterslavelinktabledata"
            rootType="com.hundsun.ares.studio.jres.moduleroot.commondata">
      </map>
               <map
                     resTypes="epackage,singletabledata,masterslavetabledata,masterslavelinktabledata"
                     rootType="com.hundsun.ares.studio.commondata.root">
               </map>
               <map
                     resTypes="stdmodelanddata"
                     rootType="com.hundsun.ares.studio.jres.moduleroot.metadata">
               </map>
   </extension>
   <extension
         point="com.hundsun.ares.studio.reference.RelationInfoProviders">
      <RelationInfoProvider
            class="com.hundsun.ares.studio.jres.basicdata.resources.providers.BasicDataRelationInfoProvider"
            id="com.hundsun.ares.studio.jres.basicdata.resources.RelationInfoProvider1"
            type="singletabledata,masterslavetabledata,masterslavelinktabledata">
      </RelationInfoProvider>
      <RelationInfoProvider
            class="com.hundsun.ares.studio.model.reference.JRESRelationInfoProvider"
            id="com.hundsun.ares.studio.jres.basicdata.resources.RelationInfoProvider2"
            type="epackage">
      </RelationInfoProvider>
      <RelationInfoProvider
            class="com.hundsun.ares.studio.jres.basicdata.resources.providers.BasicDataSTDModelAndDataRelationInfoProvider"
            id="com.hundsun.ares.studio.jres.basicdata.resources.STDModelAndData.RelationInfoProvider"
            type="stdmodelanddata">
      </RelationInfoProvider>
   </extension>

   <extension
         point="com.hundsun.ares.studio.reference.ReferenceInfoProviders">
      <ReferenceInfoProvider
            class="com.hundsun.ares.studio.jres.basicdata.resources.providers.BasicdataReferenceInfoProvider"
            id="com.hundsun.ares.studio.jres.basicdata.resources.ReferenceInfoProvider"
            type="singletabledata,masterslavetabledata,masterslavelinktabledata,stdmodelanddata">
      </ReferenceInfoProvider>
   </extension>
   <extension
         point="com.hundsun.ares.studio.reference.ReferenceTypes">
      <ReferenceType
            id="singletabledata"
            resType="singletabledata">
      </ReferenceType>
      <ReferenceType
            id="masterslavetabledata"
            resType="masterslavetabledata">
      </ReferenceType>
      <ReferenceType
            id="masterslavelinktabledata"
            resType="masterslavelinktabledata">
      </ReferenceType>
      <ReferenceType
            id="stdmodelanddata"
            resType="stdmodelanddata">
      </ReferenceType>
   </extension>
   <extension
         point="com.hundsun.ares.studio.modelconvert.converterHandles">
      <converterHandle
            class="com.hundsun.ares.studio.jres.basicdata.modelanddata.StandardFieldModelAndDataConventeHandle"
            type="stdmodelanddata">
      </converterHandle>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.hundsun.ares.studio.jres.basicdata.core.basicdata.StandardFieldModelAndData"
            class="com.hundsun.ares.studio.jres.basicdata.resources.STDModelAndDataAdapterFactory">
         <adapter
               type="com.hundsun.ares.studio.core.model.ICommonModel">
         </adapter>
      </factory>
   </extension>
   <extension
         point="com.hundsun.ares.studio.core.moduleRoot">

       <root
             deletable="true"
             icon="icons/data.gif"
             id="com.hundsun.ares.studio.jres.moduleroot.commondata"
             name="基础数据"
             order="900"
             useDefaultModule="false">
      </root>
   </extension>
</plugin>
